Repository ss14Starlight/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#22 Changelog test
  .github/workflows/auto-changelog.yml
Labels: No C#

#26 Auto changelog
  .github/workflows/auto-changelog.yml
Labels: No C#

#28 fix
  .github/workflows/auto-changelog.yml
Labels: No C#

#35 Update auto-changelog.yml
  .github/workflows/auto-changelog.yml
Labels: No C#

#38 Update auto-changelog.yml
  .github/workflows/auto-changelog.yml
Labels: No C#

#48 Sl let slimes change their hair color
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/build.json
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_1.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_10.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_100.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_1000.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_10000.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_10001.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_1001.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_101.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_11.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_133.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_166.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_2.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_200.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_201.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_30.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_300.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_3000.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_30000.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_40.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_400.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_5.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_50.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_500.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_501.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_51.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_6000.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_60000.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_7.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_70.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_700.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_90.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/cash_900.png
  Resources/Textures/_Starlight/Objects/Economy/cash.rsi/meta.json
Labels: Changes: Sprites

#56 init
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Resources/Prototypes/_StarLight/vote-chances.yml
Labels: Status: Needs Review

#65 Fix vampires
  Content.Server/GameTicking/Rules/VampireRuleSystem.cs
Labels: Status: Needs Review

#67 Mechs fix
  Content.Server/Mech/Equipment/EntitySystems/MechGunSystem.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/MouseRotator/SharedMouseRotatorSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#64 Sl supermatter DRAFT
  Content.Server/Lightning/LightningSystem.cs
  Content.Server/_Starlight/Energy/Supermatter/Const.cs
  Content.Server/_Starlight/Energy/Supermatter/SupermatterCascadeSystem.cs
  Content.Server/_Starlight/Energy/Supermatter/SupermatterSystem.cs
  Content.Shared/Atmos/GasMixture.cs
  Content.Shared/_Starlight/Abstract/AccUpdateEntitySystem.cs
  Content.Shared/_Starlight/Energy/Supermatter/SupermatterComponent.cs
  Resources/Audio/_Starlight/Effects/supermatter/attributions.yml
  Resources/Audio/_Starlight/Effects/supermatter/burning_1.ogg
  Resources/Audio/_Starlight/Effects/supermatter/burning_2.ogg
  Resources/Audio/_Starlight/Effects/supermatter/burning_3.ogg
  Resources/Audio/_Starlight/Effects/supermatter/crystal_crack_1.ogg
  Resources/Audio/_Starlight/Effects/supermatter/crystal_crack_2.ogg
  Resources/Audio/_Starlight/Effects/supermatter/emitter2.ogg
  Resources/Maps/SL_bagel.yml
  Resources/Maps/SL_box.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/_StarLight/Entities/Specific/supermatter.yml
  Resources/Textures/_Starlight/Objects/Specific/supermatter.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Specific/supermatter.rsi/supermatter.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/cascade_1.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/cascade_2.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/cascade_3.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/cascade_4.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/cascade_5.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/cascade_6.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/meta.json
  Resources/map_attributions.txt
Labels: Changes: Sprites, Changes: Map, Status: Needs Review

#71 Server Rules
  Content.Server/Administration/Managers/BanManager.cs
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Locale/en-US/administration/ui/admin-notes.ftl
  Resources/Prototypes/_StarLight/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL10.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL5.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL7.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL8.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL9.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/RolePlayRules/RuleSLRP1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/RolePlayRules/RuleSLRP2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/RolePlayRules/RuleSLRP3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/RolePlayRules/RuleSLRP4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/RolePlayRules/RuleSLRP5.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/RolePlayRules/RuleSLRP6.xml
  Resources/ServerInfo/Guidebook/ServerRules/StarlightRules.xml
  Tools/actions_changelogs_since_last_run.py
Labels: No C#, Status: Needs Review

#70 Upd collective mind
  Content.Client/Chat/CollectiveMindSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Body/Prototypes/BodyPrototypeSerializer.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/CollectiveMind/CollectiveMindComponent.cs
  Content.Shared/CollectiveMind/CollectiveMindPrototype.cs
  Content.Shared/CollectiveMind/CollectiveMindUpdateSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/_Starlight/collective-mind/collective-mind.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/abductor_shuttle.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/CollectiveMinds/collective_mind.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/abductor.yml
  Resources/Prototypes/_StarLight/Entities/Specific/supermatter.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: UI, Changes: Map, Status: Needs Review

#72 Custom limbs
  Content.Client/_Starlight/Medical/Surgery/CustomLimbVisualizerSystem.cs
  Content.Server/_Starlight/Energy/Supermatter/SupermatterCascadeSystem.cs
  Content.Server/_Starlight/Energy/Supermatter/SupermatterSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.cs
  Content.Server/build.json
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/CustomLimbVisualizerComponent.cs
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/_StarLight/Body/Parts/virtual.yml
  Resources/Prototypes/_StarLight/Entities/Specific/supermatter.yml
  Resources/Prototypes/_StarLight/Surgery/attachment_steps.yml
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/arnold-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/arnold-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/cotton-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/cotton-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/dank-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/dank-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/donkpocket-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/donkpocket-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/margherita-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/margherita-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meat-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meat-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/moldy-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/moldy-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/mushroom-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/mushroom-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/pineapple-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/pineapple-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/sassysage-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/sassysage-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/uranium-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/uranium-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/vegetable-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/vegetable-slice-inhand-right.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/l_arm.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/l_foot.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/l_hand.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/l_leg.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/meta.json
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/r_arm.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/r_foot.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/r_hand.png
  Resources/Textures/_Starlight/CustomLimb/displacement.rsi/r_leg.png
  Resources/Textures/_Starlight/Objects/Specific/supermatter_cascade.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#74 Spider collective mind
  Resources/Prototypes/_StarLight/CollectiveMinds/collective_mind.yml
Labels: No C#, Status: Needs Review

#75 Vampires guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/ServerInfo/Guidebook/Antagonist/Abductors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Vampires.xml
Labels: No C#

#76 fix loop
  Content.Client/_Starlight/Medical/Surgery/CustomLimbVisualizerSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/CustomLimbVisualizerComponent.cs
Labels: Status: Needs Review

#73 Vent crawl update
  Content.Server/VentCraw/VentCrawTubeSystem.cs
  Content.Server/VentCraw/VentCrawableSystem.cs
  Content.Shared/VentCraw/Components/VentCrawHolderComponent.cs
  Content.Shared/VentCraw/SharedVentCrawableSystem.cs
  Content.Shared/VentCraw/SharedVentTubeSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
Labels: Status: Needs Review

#81 Pacify smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Textures/Interface/Alerts/pacified.rsi/icon.png
  Resources/Textures/Interface/Alerts/pacified.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#85 init
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Status: Needs Review

#91 Add brigmedic role
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_StarLight/Roles/play_time_trackers.yml
  Resources/Prototypes/_StarLight/Roles/salaries.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#94 Change salary and time requirements for sec department
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/requirement_overrides.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_StarLight/Roles/salaries.yml
Labels: S: Untriaged, Changes: No C#, size/M

#95 Add brigmedic glasses
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Textures/Clothing/Eyes/Glasses/brigmedicglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/brigmedicglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/brigmedicglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/brigmedicglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/brigmedicglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/brigmedicglasses.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#97 Removed contraband from advanced circular saw
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#100 Casualization
  Content.Server/_Starlight/Antags/TerrorSpider/EggInjectSystem.cs
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, S: Needs Review, size/M

#99 Fix brigmedic not being part of security on crew monitor
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#101 Add brigmedic belt
  Resources/Prototypes/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Textures/_Starlight/Clothing/Belt/tactical_trauma.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Clothing/Belt/tactical_trauma.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Belt/tactical_trauma.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Belt/tactical_trauma.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Belt/tactical_trauma.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/L
