Repository ss14Starlight/space-station-14, pull requests merged in 2024-12, with the labels that each got.

#103 Add brigmedic handheld
  Content.Client/_Starlight/Medical/CrewMonitoring/Brigmedic/BrigmedicCrewMonitoringBoundUserInterface.cs
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/handheld_brigmedic_crew_monitor.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Textures/_Starlight/Objects/Specific/Medical/handheld_brigmedic_crewmonitor.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/handheld_brigmedic_crewmonitor.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Specific/Medical/handheld_brigmedic_crewmonitor.rsi/scanner.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#106 Small brigmedic fixes
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/handheld_brigmedic_crew_monitor.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#, size/S

#113 Fix mentor system not allowing mentors to use it properly
  Content.Server/_Starlight/MentorSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#117 fix survival box
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#118 HohohonkersVend
  Resources/Locale/en-US/_Starlight/store/categories.ftl
  Resources/Locale/en-US/_Starlight/store/vendors.ftl
  Resources/Maps/_Starlight/Stations/Bagel.yml
  Resources/Maps/_Starlight/Stations/Box.yml
  Resources/Maps/_Starlight/Stations/Marathon.yml
  Resources/Maps/_Starlight/Stations/Meta.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/engi.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/hohohonkers.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Catalog/engi.yml
  Resources/Prototypes/_StarLight/Catalog/medical.yml
  Resources/Prototypes/_StarLight/Catalog/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/prunks.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/Store/categories.yml
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/hohohonkers.rsi/broken.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/hohohonkers.rsi/deny-unshaded.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/hohohonkers.rsi/eject-unshaded.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/hohohonkers.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/hohohonkers.rsi/normal-unshaded.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/hohohonkers.rsi/off.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/hohohonkers.rsi/panel.png
Labels: Changes: Sprites, Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L, size/XL

#121 ADDED: Emotes Purr, Trill, Meow, Growl to Felionoid + Audio
  Resources/Audio/_Starlight/Voice/Felionoid/attributions.yml
  Resources/Audio/_Starlight/Voice/Felionoid/cat_growl1.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_growl2.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_hiss3.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_meow1.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_meow2.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_meow3.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_meow4.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_meow5.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_meow6.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_purr1.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_purr2.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_purr3.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_trill1.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_trill2.ogg
  Resources/Audio/_Starlight/Voice/Felionoid/cat_trill3.ogg
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/felionoid.yml
  Resources/Prototypes/_StarLight/SoundCollections/felionoid.yml
  Resources/Prototypes/_StarLight/Voices/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/Voices/speech_emotes.yml
  SpaceStation14.sln
Labels: S: Untriaged, Changes: No C#, size/L

#127 Fix accentless trait not working at vulpkanins
  Resources/Prototypes/Traits/speech.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#128 Fix solution visuals
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Resources/Prototypes/Body/Prototypes/arachnid.yml
  Resources/Prototypes/Body/Prototypes/dwarf.yml
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/Body/Prototypes/reptilian.yml
  Resources/Prototypes/Body/Prototypes/slime.yml
  Resources/Prototypes/Body/Prototypes/vox.yml
Labels: S: Untriaged, S: Needs Review, size/M

#129 Paw socks fix
  Resources/Prototypes/_StarLight/Body/vulpkanin.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/vulpkanin.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#130 Fix hardsuits drain
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#131 Reverting security webbing texture
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/XS

#133 Fix Vending Machines
  .github/workflows/auto-changelog.yml
  .github/workflows/labeler-conflict.yml
  Content.Server/Store/Conditions/BuyerAccessCondition.cs
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/engi.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/hohohonkers.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/vote-chances.yml
Labels: S: Untriaged, S: Needs Review, size/L

#135 Addition of barking vulps
  Resources/Audio/_Starlight/Effects/Bark/attributions.yml
  Resources/Audio/_Starlight/Effects/Bark/dog_bark1.ogg
  Resources/Audio/_Starlight/Effects/Bark/dog_bark2.ogg
  Resources/Audio/_Starlight/Effects/Bark/dog_bark3.ogg
  Resources/Locale/en-US/_Starlight/chat/emotes.ftl
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_StarLight/SoundCollections/bark.yml
  Resources/Prototypes/_StarLight/Voices/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/Voices/speech_emotes.yml
Labels: S: Untriaged, Changes: No C#, size/M

#137 Retexture of Gray/Brown Fedora
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/brownfedora.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#138 Document Printer
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/UserInterface/RichText/LogoTag.cs
  Content.Client/UserInterface/RichText/SyndieLogoTag.cs
  Resources/Locale/en-US/_Starlight/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_Starlight/paper/doc-printer.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Paper/documents.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/_StarLight/Reagents/Materials/materials.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/categories.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/misc.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/printer.yml
  Resources/Prototypes/_StarLight/Stacks/other_stacks.yml
  Resources/Textures/_Starlight/Logo/Nanotrasen_Logo.png
  Resources/Textures/_Starlight/Logo/Syndie_Logo.png
  Resources/Textures/_Starlight/Structures/Machines/printer.rsi/building.png
  Resources/Textures/_Starlight/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/_Starlight/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/_Starlight/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/_Starlight/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Machines/printer.rsi/panel.png
Labels: Changes: UI, Changes: Sprites, S: Untriaged, S: Needs Review, size/XL

#145 Radio Chat Fixes
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: Changes: UI, S: Untriaged

#149 Roboticist
  Content.Client/Eye/DarkenedVisionSystem.cs
  Content.Client/Overlays/DarkenedVisionOverlay.cs
  Content.Server/Eye/DarkenedVisionSystem.cs
  Content.Shared/Clothing/Components/WeldingMaskComponent.cs
  Content.Shared/Clothing/EntitySystems/WeldingMaskSystem.cs
  Content.Shared/Eye/DarkenedVisionComponent.cs
  Content.Shared/Eye/SharedDarkenedVisionSystem.cs
  Content.Shared/Eye/VisionDarkenerComponent.cs
  Content.Shared/Eye/VisionDarkenerSystem.cs
  Resources/Locale/en-US/_Starlight/job/job-desc.ftl
  Resources/Locale/en-US/_Starlight/paper/doc-printer.ftl
  Resources/Locale/en-US/_Starlight/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Science/roboticist.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/_StarLight/Roles/play_time_trackers.yml
  Resources/Prototypes/_StarLight/Roles/salaries.yml
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/icon-up.png
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/up-equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/up-inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/welding.rsi/up-inhand-right.png
  Resources/Textures/_Starlight/Clothing/Back/Backpacks/roboticist.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Clothing/Back/Backpacks/roboticist.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Back/Backpacks/roboticist.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Back/Backpacks/roboticist.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Back/Backpacks/roboticist.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Back/Duffels/roboticist.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Clothing/Back/Duffels/roboticist.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Back/Duffels/roboticist.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Back/Duffels/roboticist.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Back/Duffels/roboticist.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Back/Satchels/roboticist.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/roboticist.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/roboticist.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/roboticist.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/roboticist.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#150 Security ExtendedEmergencyTank w/ Captain
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#156 Honkmother cult(CluwneBeast)
  Content.Server/Cluwne/CluwneSystem.cs
  Content.Server/Weapons/Melee/InfectOnMelee/InfectOnMeleeSystem.cs
  Content.Shared/Cluwne/CluwneComponent.cs
  Content.Shared/Weapons/Melee/Components/InfectOnMeleeComponent.cs
  Resources/Audio/Voice/Cluwne/attributions.yml
  Resources/Audio/Voice/Cluwne/cluwnebeastlaugh1.ogg
  Resources/Locale/en-US/_Starlight/collective-mind/collective-mind.ftl
  Resources/Locale/en-US/cluwne/cluwne.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Mobs/NPCs/cluwnebeast.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/InventoryTemplates/cluwnebeast_inventory_template.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Fun/cluwne.yml
  Resources/Prototypes/SoundCollections/screams.yml
  Resources/Prototypes/Voice/auto_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/CollectiveMinds/collective_mind.yml
  Resources/Prototypes/_StarLight/ai_factions.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Neck/Cloaks/honk.rsi/equipped-NECK-cluwnebeast.png
  Resources/Textures/Clothing/Neck/Cloaks/honk.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/honk.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/honk.rsi/meta.json
  Resources/Textures/Effects/portal.rsi/meta.json
  Resources/Textures/Effects/portal.rsi/portal-green.png
  Resources/Textures/Mobs/Aliens/cluwnebeast.rsi/cluwnebeast.png
  Resources/Textures/Mobs/Aliens/cluwnebeast.rsi/crit.png
  Resources/Textures/Mobs/Aliens/cluwnebeast.rsi/dead.png
  Resources/Textures/Mobs/Aliens/cluwnebeast.rsi/icon.png
  Resources/Textures/Mobs/Aliens/cluwnebeast.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/L

#155 Stardew Valley emoting system
  Content.Client/_Starlight/CloudEmotes/CloudEmoteSystem.cs
  Content.Server/_Starlight/CloudEmotes/CloudEmoteSystem.cs
  Content.Server/_Starlight/CloudEmotes/Commands/CloudEmoteCommand.cs
  Content.Shared/_Starlight/CloudEmote/CloudEmoteActiveComponent.cs
  Content.Shared/_Starlight/CloudEmote/CloudEmotePhaseComponent.cs
  Content.Shared/_Starlight/CloudEmote/SharedCloudEmoteSystem.cs
  Resources/Audio/_Starlight/Effects/CloudEmotes/attributions.yml
  Resources/Audio/_Starlight/Effects/CloudEmotes/pop.ogg
  Resources/Locale/en-US/_Starlight/cloud-emotes/cloud-emotes.ftl
  Resources/Prototypes/_StarLight/Entities/Effects/cloud_emotes.yml
  Resources/Textures/Effects/cloud_emotes.rsi/emote_end.png
  Resources/Textures/Effects/cloud_emotes.rsi/emote_lenny.png
  Resources/Textures/Effects/cloud_emotes.rsi/emote_mark.png
  Resources/Textures/Effects/cloud_emotes.rsi/emote_nervous.png
  Resources/Textures/Effects/cloud_emotes.rsi/emote_start.png
  Resources/Textures/Effects/cloud_emotes.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#162 ADDED: 3 new plushies
  Resources/Audio/_Starlight/Items/Toys/attributions.yml
  Resources/Audio/_Starlight/Items/Toys/deerplush_nun.ogg
  Resources/Audio/_Starlight/Items/Toys/dogbark_vika.ogg
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/plushie_deer_eyebrows.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/plushie_deer_no_eyebrows.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/vika_plush.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#179 Unbackable NPC
  Content.Server/NPC/Systems/NPCCombatSystem.Melee.cs
  Content.Server/NPC/Systems/NPCCombatSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#180 Banana anomaly
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Specific/abductor_experimentator.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Specific/alien_pad.yml
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/Cores/banana.rsi/core.png
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/Cores/banana.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/Cores/banana.rsi/pulse.png
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/banana.rsi/anom.png
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/banana.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/banana.rsi/pulse.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/L

#182 Add skubstep and anomaly accent
  Content.Server/_Starlight/Speech/Components/AnomalyAccentComponent.cs
  Content.Server/_Starlight/Speech/Components/AnomalyAccentSystem.cs
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/skubstep.ogg
Labels: S: Untriaged, S: Needs Review, size/S, Changes: Audio

#185 Combat gloves to secvend
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/security.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#178 Silicon law 0
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Labels: S: Untriaged, S: Needs Review, size/S

#186 Temporarily removes syndicate expeditions from salvage
  Resources/Prototypes/_StarLight/Procedural/salvage_difficulties.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#189 Security topicals
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/security.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/medical.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/Store/categories.yml
  Resources/Textures/Objects/Specific/Medical/medical.rsi/bruizinebrutepack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/bruizinebrutepack2.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/bruizinebrutepack3.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/lacerinolbrutepack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/lacerinolbrutepack2.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/lacerinolbrutepack3.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medical.rsi/puncturaseredbrutepack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/puncturaseredbrutepack2.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/puncturaseredbrutepack3.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/redbrutepack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/redbrutepack2.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/redbrutepack3.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/redointment.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/redointment2.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/redointment3.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#190 update
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/Baked/vulpkanin.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_StarLight/Recipes/Cooking/meat_recipes.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/CentComm/operator.yml
  Resources/Prototypes/_StarLight/Roles/play_time_trackers.yml
  Resources/Textures/_Starlight/Objects/Consumable/Food/plate.rsi/baked_vulpkanin.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/plate.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Consumable/Food/plate.rsi/plate.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#195 Automatic cryo system
  Content.Server/_Starlight/CryoTeleportation/CryoTeleportationSystem.cs
  Content.Shared/_Starlight/CCVar/StarlightCCVar.cs
  Content.Shared/_Starlight/CCVar/StarlightCCVars.Game.cs
  Content.Shared/_Starlight/CryoTeleportation/StationCryoTeleportationComponent.cs
  Content.Shared/_Starlight/CryoTeleportation/TargetCryoTeleportationComponent.cs
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_StarLight/Entities/Effects/teleportation.yml
  Resources/Prototypes/_StarLight/Entities/Stations/base.yml
Labels: S: Untriaged, S: Needs Review, size/M

#194 Security Medical Kit
  Resources/Prototypes/_StarLight/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/medical.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Textures/_Starlight/Objects/Specific/Medical/firstaidkits.rsi/BrigKube-inhand-left.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/firstaidkits.rsi/BrigKube-inhand-right.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/firstaidkits.rsi/BrigKube.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/firstaidkits.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#196 whitelist
  Content.Shared/_Starlight/AnyFlagsRequirement.cs
  Content.Shared/_Starlight/ISharedPlayersRoleManager.cs
  Resources/Locale/en-US/_Starlight/job/role-requirements.ftl
  Resources/Prototypes/_StarLight/Roles/Jobs/Command/nanotrasenrepresentative.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Law/Magistrate.yml
Labels: S: Untriaged, S: Needs Review, size/S

#173 Adds Hotel Station
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#198 Adds Abductor Guidebook
  Resources/ServerInfo/Guidebook/Antagonist/Abductors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#200 Hotel Station now maybe actually appears in game
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review
