Repository ss14Starlight/space-station-14, pull requests merged in 2025-07, with the labels that each got.

#949 nanotask 0G travel fix
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#946 Avali Saline Changes
  Resources/Prototypes/Reagents/medicine.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#941 Fixed colour of the IAA's ID to be blue instead of green
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idiaa.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#737 Give Assistants more drip
  Resources/Locale/en-US/_Starlight/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Civilian/assistant.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#959 Increase Barratry funding by 2%
  Resources/Maps/_Starlight/Stations/Barratry.yml
  Resources/Prototypes/_StarLight/Maps/barratry.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/L

#937 abductor agent ids.
  Resources/Locale/en-US/_Starlight/job/job.ftl
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/abductor.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/abductor.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#944 Ratking Speed Bugfix (temp/jank)
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#926 Grapegifter Shuttles
  Resources/Maps/_Starlight/Shuttles/GR-4P3.yml
  Resources/Maps/_Starlight/Shuttles/SP-4C3.yml
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/ShadowBorgiGrid.yml
  Resources/Maps/_Starlight/Shuttles/scarletNUKIEWARSHIP.yml
  Resources/Maps/_Starlight/Shuttles/scarletSHCdefenderFinal.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#943 Modified Bureaucratic Error
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#950 Abductor multi-run fix
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: No C#, size/XS

#927 Fix visual glitch of avali seemingly performing actions when in stasis.
  Content.Client/_Starlight/Actions/Stasis/StasisFrozenSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#934 Armor/Borg riochet visual effect
  Content.Client/_Starlight/Combat/Effects/EntitySystems/ArmorSparkEffectSystem.cs
  Content.Server/_Starlight/Combat/Effects/EntitySystems/ArmorSparkEffectSystem.cs
  Content.Shared/_Starlight/Combat/Effects/Components/ArmorSparkEffectComponent.cs
  Content.Shared/_Starlight/Combat/Effects/Components/CyborgSparkEffectComponent.cs
  Content.Shared/_Starlight/Combat/Effects/EntitySystems/ArmorSparkEffectSystem.cs
  Resources/Audio/_Starlight/Armor/Ricochet/Cyborg/attributions.yml
  Resources/Audio/_Starlight/Armor/Ricochet/Cyborg/ricochet1b.ogg
  Resources/Audio/_Starlight/Armor/Ricochet/Cyborg/ricochet2b.ogg
  Resources/Audio/_Starlight/Armor/Ricochet/Cyborg/ricochet3b.ogg
  Resources/Audio/_Starlight/Armor/Ricochet/Cyborg/ricochet4b.ogg
  Resources/Audio/_Starlight/Armor/Ricochet/attributions.yml
  Resources/Audio/_Starlight/Armor/Ricochet/ricochet1_1.ogg
  Resources/Audio/_Starlight/Armor/Ricochet/ricochet2_2.ogg
  Resources/Audio/_Starlight/Armor/Ricochet/ricochet3_3.ogg
  Resources/Audio/_Starlight/Armor/Ricochet/ricochet4_4.ogg
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/_StarLight/Effects/spark_effect.yml
  Resources/Prototypes/_StarLight/SoundCollections/armor_ricochet.yml
  Resources/Textures/_Starlight/Effects/armor_sparks.rsi/armor_sparks.png
  Resources/Textures/_Starlight/Effects/armor_sparks.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M, Changes: Audio

#870 Adds magistrate jumpskirt
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Law/Magistrate.yml
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/magistrate.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/magistrate.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/magistrate.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/magistrate.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/magistrate.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review

#913 Bso cloak, jumpsuit and coat
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/representatives.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/equipped-NECK-cyclorite.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/equipped-NECK-felionoid.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/equipped-NECK-resomi.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/equipped-NECK-vox.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/equipped-NECK-vulpakin.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/equipped-NECK.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_formal.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/equipped-OUTERCLOTHING-cyclorite.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/equipped-OUTERCLOTHING-felionoid.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/equipped-OUTERCLOTHING-vulpakin.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/blueshield_coat.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/equipped-INNERCLOTHING-cyclorite.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/equipped-INNERCLOTHING-felionoid.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/equipped-INNERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/equipped-INNERCLOTHING-vulpakin.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/blueshieldshirt.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Map, Changes: No C#, S: Needs Review, size/M, Changes: Audio

#962 refresh the job priority editor if cvar "game.role_timers" is changed.
  Content.Client/Lobby/LobbyUIController.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#947 Added and implemented emergency boxes for nonbreathers
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/shadekin.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#965 Adds NT Rep Hardsuit to the representative locker
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/representatives.yml
Labels: Changes: No C#, size/XS

#922 Adds the Syndicate Infiltration Hardsuit
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/_StarLight/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/infiltrationsyndie.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/infiltrationsyndie.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/infiltrationsyndie.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/infiltrationsyndie.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/infiltrationsyndie.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/infiltrationsyndie.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/infiltrationsyndie.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/infiltrationsyndie.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/infiltrationsyndie.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/infiltrationsyndie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#956 Genpop elkridge starlighted
  Resources/Maps/Shuttles/emergency_elkridge.yml
  Resources/Maps/_Starlight/Stations/Elkridge.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/elkridge.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#969 Fixed silicon voice selection
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#967 Advanced Restraints Cargo Purchase
  Resources/Prototypes/_StarLight/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Crates/armory.yml
Labels: Changes: No C#, size/S

#978 Inhand fixes
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/improvised_pistol_magazine.rsi/inhand-left-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/improvised_pistol_magazine.rsi/inhand-right-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/improvised_pistol_magazine.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/improvised_smg_magazine.rsi/inhand-left-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/improvised_smg_magazine.rsi/inhand-right-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/improvised_smg_magazine.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#973 Some more aghost improvements
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#988 Adds Lagan
  Resources/Maps/_Starlight/Stations/Lagan.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/lagan.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review

#974 Dragons store brains of devoured borgs
  Content.Server/Devour/DevourSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#953 Fixed inconsistency between Laser and Disabler bolt types
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/battery.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#991 Added salvage to previous PR about laser cartridge contraband
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/battery.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#977 Dragan special drink
  Resources/Locale/en-US/_Starlight/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Starlight/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/handy_flag.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/revolutionary.yml
  Resources/Prototypes/_StarLight/Flavors/flavors.yml
  Resources/Prototypes/_StarLight/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_StarLight/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/USSP/marine.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/USSP/official.yml
  Resources/Textures/_Starlight/Objects/Consumable/Drinks/dragan_special.rsi/fill-1.png
  Resources/Textures/_Starlight/Objects/Consumable/Drinks/dragan_special.rsi/fill-2.png
  Resources/Textures/_Starlight/Objects/Consumable/Drinks/dragan_special.rsi/fill-3.png
  Resources/Textures/_Starlight/Objects/Consumable/Drinks/dragan_special.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Consumable/Drinks/dragan_special.rsi/icon_empty.png
  Resources/Textures/_Starlight/Objects/Consumable/Drinks/dragan_special.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#999 fix duplicate name spawn menu
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1005 Make QM’s dusters auto swing
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1025 Fix abductors not being able to reconnect after using the camera view
  Content.Server/_Starlight/Antags/Abductor/EntitySystems/AbductorSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1004 Brigmedic Belt Tweak / Merc web holster
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1026 Make the starlight changelog the first tab on the changelog window, hide maps changelog tab
  Resources/Changelog/ChangelogStarlight.yml
  Resources/Changelog/Maps.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1028 Fix simple hostiles and dragons not being hostile to abductors
  Resources/Prototypes/_StarLight/GameRules/events.yml
  Resources/Prototypes/_StarLight/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1020 remove Dummy non antag chance.
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, Changes: No C#

#1021 Changing necrosol so that it may actually be made lol
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1024 Knives can now be used as really shitty screwdrivers
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1043 Vanilla plushie + minor plushie fixes)
  Resources/Locale/en-US/_Starlight/plushies/vanilla-plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/vanilla_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/vanilla_plushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#1039 Fix mentor help button
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
Labels: Changes: UI, S: Untriaged, Changes: No C#

#1010 Syndicate job icons
  Resources/Prototypes/_StarLight/StatusIcon/job.yml
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateCargo.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateChef.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateEngineer.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateJanitor.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateScience.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateSecurity.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateWarden.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1047 Starlight Story Objectives
  Content.Server/_Starlight/Objectives/Components/DepartmentObjectiveComponent.cs
  Content.Server/_Starlight/Objectives/Components/PickRandomDepartmentComponent.cs
  Content.Server/_Starlight/Objectives/Systems/DepartmentObjectiveSystem.cs
  Content.Server/_Starlight/Objectives/Systems/PickObjectiveTargetDepartmentSystem.cs
  Resources/Locale/en-US/_Starlight/objectives/conditions/story-objectives.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_StarLight/Objectives/base_objectives.yml
  Resources/Prototypes/_StarLight/Objectives/objectiveGroups.yml
  Resources/Prototypes/_StarLight/Objectives/traitor.yml
Labels: S: Untriaged, S: Needs Review, size/M

#1051 I literally forgot a single line break in the slimeperson.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1063 Amali plushie sound fix & more vanilla lines
  Resources/Locale/en-US/_Starlight/plushies/vanilla-plushie.ftl
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1062 Shotgun casings fix
  Content.Client/Weapons/Ranged/Components/SpentAmmoVisualsComponent.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.SpentAmmo.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: S: Untriaged, S: Needs Review, size/S

#1056 feat(Pipes): Add new colors for pipes
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1059 Fixed Atmos Tech and TA weights
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: Changes: No C#, S: Needs Review

#778 Round of buffs pt. 3: Cyclorites
  Resources/Prototypes/_StarLight/Damage/modifier_sets.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/cyclorites.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1074 character menu bind
  Resources/keybinds.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#1075 Cyclorite Guidebook Updates
  Resources/ServerInfo/Guidebook/Mobs/Cyclorite.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1042 Percival’s Particular Personalised Plushie Parlour
  Resources/Locale/en-US/_Starlight/plushies/ash_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/glados_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/oog_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/percy_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/poley_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/romero_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/rufia_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/weh_plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_bases.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/ash_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/ash_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/glados_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/glados_plushie.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/glados_plushie.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/glados_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/percy_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/percy_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/poley_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/poley_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/romero_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/romero_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/rufia_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/rufia_plushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#931 Borgi reorganization
  Resources/Locale/en-US/_Starlight/datasets/names/borgi.ftl
  Resources/Locale/en-US/_Starlight/station-laws/laws.ftl
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/animal_cubes.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_StarLight/Actions/borgi.yml
  Resources/Prototypes/_StarLight/Body/Organs/animal.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Datasets/Names/borgi.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/InventoryTemplates/borgi_inventory_template.yml
  Resources/Prototypes/_StarLight/InventoryTemplates/smartcorgi_inventory_template.yml
  Resources/Prototypes/_StarLight/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/animal_cubes.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/rehydrateable.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1090 Crawl Rotation Patch
  Content.Client/Stunnable/StunSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#869 Adds a new gun to replace the Eshotgun
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/base-unshaded.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/base.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-5.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-5.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#692 NullLink
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/_NullLink/Hub.cs
  Content.Client/_NullLink/HubSystem.cs
  Content.Packaging/ServerPackaging.cs
  Content.Server/Content.Server.csproj
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_NullLink/Core/ActorRouter.Common.cs
  Content.Server/_NullLink/Core/ActorRouter.cs
  Content.Server/_NullLink/Core/IActorRouter.cs
  Content.Server/_NullLink/Core/OrleansClientHolder.cs
  Content.Server/_NullLink/Helpers/OrleansLoggingExtensions.cs
  Content.Server/_NullLink/Helpers/Pipe.cs
  Content.Server/_NullLink/Helpers/RobustSawmillProvider.cs
  Content.Server/_NullLink/HubSystem.Server.cs
  Content.Server/_NullLink/HubSystem.ServerInfo.cs
  Content.Server/_NullLink/HubSystem.cs
  Content.Shared/_NullLink/CCVar/NullLinkCCVars.cs
  Content.Shared/_NullLink/Messages.cs
  Directory.Packages.props
  runserver.bat
Labels: Changes: UI, S: Untriaged, size/L

#975 Clarifying Zombies Vs Silicons
  Resources/Locale/en-US/zombies/zombie.ftl
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1117 Add more paper to NT Clipboard
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/folders.yml
Labels: Changes: No C#, size/XS

#1096 Chat sanatize comms console.
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1124 oops accidentally duplicated the button.
  Content.Client/Options/UI/EscapeMenu.xaml
Labels: Changes: UI, S: Untriaged, Changes: No C#, S: Needs Review

#1038 Make End of Quiet admeme only
  Resources/Maps/_Starlight/nukieplanet.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1127 Lobby art!
  Resources/Prototypes/_StarLight/lobbyscreens.yml
  Resources/Textures/_Starlight/LobbyScreens/attributions.yml
  Resources/Textures/_Starlight/LobbyScreens/bombdefusalborg.webp
  Resources/Textures/_Starlight/LobbyScreens/bombdefusalborg.webp.yml
  Resources/Textures/_Starlight/LobbyScreens/turncoats.webp
  Resources/Textures/_Starlight/LobbyScreens/turncoats.webp.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1138 Character sizes HOTFIX
  Content.Server.Database/StartLightModel.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1139 Make felionoid minimum size more reasonable
  Resources/Prototypes/_StarLight/Species/felionoid.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1093 Roundstart high heels
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Shoes/highheels.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/trinkets.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1017 SImplifying brain yaml and increasing bites required to 4 instead of 1
  Resources/Prototypes/Body/Organs/base.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/_StarLight/Body/Organs/abductor.yml
  Resources/Prototypes/_StarLight/Body/Organs/cyclorite.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1094 Access Breaker fix
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1148 Remove Acorn TTS Voice
  Resources/Locale/en-US/_Starlight/ui-options/voices.ftl
  Resources/Prototypes/_StarLight/voices.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1146 job-name-warden fix
  Resources/Locale/en-US/job/job-names.ftl
Labels: Changes: No C#, S: Needs Review, size/XS

#1137 Lrp random name replacements
  Resources/Locale/en-US/datasets/names/dragon.ftl
  Resources/Locale/en-US/datasets/names/ninja.ftl
  Resources/Locale/en-US/datasets/names/ninja_title.ftl
  Resources/Locale/en-US/datasets/names/regalrat_title.ftl
  Resources/Locale/en-US/datasets/names/skeleton_first.ftl
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1109 Roles pick by priority first
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1008 Changed salvage contraband prototypes and fixed several broken contraband markers
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/_StarLight/Entities/Objects/base_contraband.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1036 Tweaks the infiltration hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S
