Repository ss14Starlight/space-station-14, pull requests merged in 2025-10, with the labels that each got.

#1506 HardsuitAtmosGolden
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/engi.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-dog.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-light-dog.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-light-reptilian.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-light-resomi.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-light-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-light-vulpkanin.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-light.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-reptilian.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-resomi.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-unshaded-dog.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-unshaded-reptilian.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-unshaded-resomi.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-unshaded.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head-vulpkanin.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/equipped-head.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/icon-flash.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/icon-unshaded.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/light-overlay.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/atmospherics_golden.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/equipped-OUTERCLOTHING-dog.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/atmospherics_golden.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#1785 HOTFIX. Access config
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1783 (Bagel) Mining specialist hardsuits
  Resources/Maps/_Starlight/Stations/Bagel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review

#1782 (Orwell) Mining ticket machine
  Resources/Maps/_Starlight/Stations/Orwell.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review

#1784 Fixes borgs showing laws on themselves
  Content.Shared/Silicons/Laws/Components/SiliconLawProviderComponent.cs
  Content.Shared/_Starlight/Silicons/Borgs/LawboardSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/law_boards.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/Circuitboards/Machine/law_boards.yml
Labels: S: Needs Review, size/S, Changes: C#

#1780 (Cluster) Bugfix pass
  Resources/Maps/_Starlight/Stations/Cluster.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#1788 Box Map Update
  Resources/Maps/_Starlight/Stations/Box.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/box.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#1763 Scarf loadout option!
  Resources/Locale/en-US/_Starlight/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/scarves.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1809 HOTFIX. ID card computers
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/S, Changes: C#

#1682 Give Thaven Emote Sounds
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/thaven.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#1454 re-parents silicons to a base entity for languages.
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_StarLight/Entities/Base/language.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Cyborgs/base_borgi_chassis.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Robotics/mmi.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1826 TTS gender tweak
  Resources/Prototypes/_StarLight/voices.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1841 Change Cryogenics access name to Cryosleep
  Resources/Locale/en-US/prototypes/access/accesses.ftl
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1842 Removed Syndicate Cat Ears from Hug Dispenser, added to loot tables.
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1830 Missed ai things
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHolderComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/science.yml
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1853 Devices with access restrictions list those restrictions in their exammination description
  Content.IntegrationTests/Tests/Access/AccessReaderTest.cs
  Content.Server/Access/Systems/AccessOverriderSystem.cs
  Content.Server/Doors/Electronics/Systems/DoorElectronicsSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Components/ShowAccessReaderSettingsComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Locale/en-US/access/systems/access-reader-system.ftl
  Resources/Locale/en-US/generic.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/cryogenic_sleep_unit.yml
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1854 oops forgot they had to be able to speak.
  Resources/Prototypes/_StarLight/Entities/Base/language.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1855 Remove Misgendering (#40425)
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
Labels: Changes: No C#, S: Needs Review

#1861 Shadekin guidebook typo fixes
  Resources/ServerInfo/Guidebook/Mobs/Shadekin.xml
Labels: Changes: No C#, size/XS, S: Approved

#1828 Fix CC Door assembly
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/assembly.png
Labels: Changes: Sprites, Changes: No C#, size/XS, S: Approved

#1820 BSO Fix
  Resources/Prototypes/_StarLight/Loadouts/Jobs/blueshield.yml
Labels: Changes: No C#, size/XS, S: Approved

#1804 porting AL borg subtypes
  Content.Client/Silicons/Borgs/BorgSelectTypeMenu.xaml
  Content.Client/Silicons/Borgs/BorgSelectTypeMenu.xaml.cs
  Content.Client/Silicons/Borgs/BorgSelectTypeUserInterface.cs
  Content.Client/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Client/_Afterlight/Silicons/Borgs/BorgSwitchableSubtypeSystem.cs
  Content.Client/_Afterlight/Silicons/Borgs/UI/ChassisSpriteSelection.xaml
  Content.Client/_Afterlight/Silicons/Borgs/UI/ChassisSpriteSelection.xaml.cs
  Content.Server/_Afterlight/Silicons/Borgs/BorgSwitchableSubstypeSystem.cs
  Content.Shared/Silicons/Borgs/SharedBorgSwitchableTypeSystem.cs
  Content.Shared/_Afterlight/Prototypes/ALPrototypeSystem.cs
  Content.Shared/_Afterlight/Silicons/Borgs/BorgSubtypeDefinitionComponent.cs
  Content.Shared/_Afterlight/Silicons/Borgs/BorgSwitchableSubtypeComponent.cs
  Content.Shared/_Afterlight/Silicons/Borgs/SharedSwitchableSubstypeSystem.cs
  Content.Shared/_Afterlight/Silicons/Borgs/SharedSwitchableSubtypeSystem.Events.cs
  Resources/Locale/en-US/_Afterlight/borg/borg_subtypes.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Afterlight/Entities/Mobs/Silicon/Cyborgs/base_borg_subtypes.yml
Labels: Changes: UI, size/M, Changes: C#, S: Approved

#1795 Desert Themed Plant Decals
  Resources/Prototypes/_StarLight/Decals/desertfoliage.yml
  Resources/Textures/_Starlight/Decals/Foliage/desert/bushes.rsi/bush01.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/bushes.rsi/bush02.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/bushes.rsi/bush03.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/bushes.rsi/bush04.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/bushes.rsi/meta.json
  Resources/Textures/_Starlight/Decals/Foliage/desert/cacti.rsi/cacti_large01.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/cacti.rsi/cacti_large02.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/cacti.rsi/cacti_large03.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/cacti.rsi/cacti_small01.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/cacti.rsi/cacti_small02.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/cacti.rsi/cacti_small03.png
  Resources/Textures/_Starlight/Decals/Foliage/desert/cacti.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, S: Approved

#1791 pricing for nanomed Civilian vendor
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/price_categories.yml
Labels: Changes: No C#, size/S, S: Approved
