Repository ss14Starlight/space-station-14, pull requests merged in 2025-04, with the labels that each got.

#409 Updates Manor Station
  Resources/Maps/_Starlight/Stations/Manor.yml
  Resources/Prototypes/_StarLight/Maps/manor.yml
Labels: Changes: Map, Changes: No C#, size/XL

#442 Lawdrobe update
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Ears/headsets.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#443 Update guidebook SOP
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-atmos-tech.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-chief-engineer.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-power-generation.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-station-damage.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-station-engineer.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-technical-assistant.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/NanoTrasenEmployeeSOP/nano-trasen-employee-sop-bso.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/NanoTrasenEmployeeSOP/nano-trasen-employee-sop-iaa.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/NanoTrasenEmployeeSOP/nano-trasen-employee-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/NanoTrasenEmployeeSOP/nano-trasen-employee-sop-magistrate.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/NanoTrasenEmployeeSOP/nano-trasen-employee-sop-nt-rep.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/NanoTrasenEmployeeSOP/nano-trasen-employee-sop-safety-protocol.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/departmental-sop-intro.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#450 add clown anomaly into anomaly pool
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/Random/anomaly.yml
Labels: Changes: No C#, S: Needs Review, size/S

#448 Fixed Chainsword bug where it couldn't break glass and other objects.
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cyberlimb.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#444 CC replace
  Resources/Maps/_Starlight/centcomm.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/M

#432 Adds "Mantis blades"
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Prototypes/_StarLight/Body/Parts/cyberlimbs.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cyberlimb.yml
  Resources/Prototypes/_StarLight/Species/cyberlimbs.yml
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/l_mantis_blade_arm.png
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/l_mantis_blade_arm_BLADE.png
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/r_mantis_blade_arm.png
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/r_mantis_blade_arm_BLADE.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cybermantisblade.rsi/cybermantisblade.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cybermantisblade.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#456 Mantis blades nerf
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cyberlimb.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#461 Fixed bug of corpsman jacket not showing up
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/coats.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#460 Updated Quantum Ark Shuttles
  Resources/Maps/_Starlight/Shuttles/quantum_ark.yml
  Resources/Maps/_Starlight/Shuttles/quantum_ark_event.yml
  Resources/Maps/_Starlight/Shuttles/ss_ana.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#458 Elkridge starlightified
  Resources/Maps/_Starlight/Stations/Elkridge.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/elkridge.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#449 Mercenary Hardsuits
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/mercenary.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/mercenary.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/mercenary.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/mercenary.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#465 Rebalances the Riot SMG
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: No C#, size/XS

#468 Adds a mailroom to Hotel, Lobster, and Manor Station
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Maps/_Starlight/Stations/Lobster.yml
  Resources/Maps/_Starlight/Stations/Manor.yml
  Resources/Prototypes/_StarLight/Maps/hotel.yml
Labels: Changes: Map, Changes: No C#

#463 Ling fixing
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#469 Adding Starlight Lore Books
  Resources/Locale/en-US/_Starlight/paper/book-authorbooks.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/books_author.yml
Labels: Changes: No C#, size/M

#472 Assistant Uniform Change Color
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/permaescape.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Textures/Clothing/Ears/Headsets/service.rsi/icon.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Assistant.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Boxer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Lawyer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Librarian.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#466 Mantis Blade changes and new contraband label
  Resources/Locale/en-US/_Starlight/contraband/contraband-severity.ftl
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Prototypes/_StarLight/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cyberlimb.yml
  Resources/Prototypes/_StarLight/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_StarLight/contraband_severities.yml
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cybermantisblade.rsi/cybermantisblade.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cybermantisblade.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#426 Add supersynth to trinkets menu for staff, extra roles,
  Content.Shared/_Starlight/Preferences/Loadouts/Effects/AnyFlagLoadoutEffect.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/trinkets.yml
Labels: S: Untriaged, S: Needs Review, size/S

#451 New Track/New Lobbyart - Breacher + IPCsaster.
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/_Starlight/Music/Lobby/attributions.yml
  Resources/Audio/_Starlight/Music/Lobby/chasing-cosmic-dreams.ogg
  Resources/Audio/_Starlight/Music/Lobby/cosmonaut.ogg
  Resources/Audio/_Starlight/Music/Misc/attributions.yml
  Resources/Audio/_Starlight/Music/Misc/breacher.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_StarLight/lobbyscreens.yml
  Resources/Textures/_Starlight/LobbyScreens/IPCsaster.webp
  Resources/Textures/_Starlight/LobbyScreens/IPCsaster.webp.yml
  Resources/Textures/_Starlight/LobbyScreens/attributions.yml
Labels: Changes: No C#, S: Needs Review, size/S, Changes: Audio

#471 Species food
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/soups.yml
  Resources/Prototypes/_StarLight/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_StarLight/Recipes/Cooking/meat_recipes.yml
  Resources/Textures/_Starlight/Objects/Consumable/Food/Custcake.rsi/ResomiKart.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/Custcake.rsi/ResomiKartSlice.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/Custcake.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Consumable/Food/Lizard.rsi/LizardCooked.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/Lizard.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Consumable/Food/Lizard.rsi/plate.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/bowl.rsi/MothSoup.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/bowl.rsi/bowl.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Consumable/Food/friedNoid.rsi/FriedNoidCooked.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/friedNoid.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#473 Lobster mapping issue fix - PLEASE REVIEW BEFORE UPDATING THE SERVER
  Resources/Maps/_Starlight/Stations/Lobster.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#477 Kitchen Oven(Chef Update Part 1)
  Content.Client/Guidebook/Controls/GuideMicrowaveEmbed.xaml
  Content.Client/Guidebook/Controls/GuideMicrowaveEmbed.xaml.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/Components/SharedKitchen.cs
  Content.Shared/Kitchen/MealRecipePrototype.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/guidebook/cooking.ftl
  Resources/Locale/en-US/kitchen/components/microwave-component.ftl
  Resources/Prototypes/Recipes/Cooking/Meals/bars_cookies.yml
  Resources/Prototypes/Recipes/Cooking/Meals/breads.yml
  Resources/Prototypes/Recipes/Cooking/Meals/cake.yml
  Resources/Prototypes/Recipes/Cooking/Meals/dessert.yml
  Resources/Prototypes/Recipes/Cooking/Meals/pie.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/Recipes/Cooking/sequence_metamorph.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_StarLight/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/oven.yml
  Resources/Prototypes/_StarLight/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Textures/_Starlight/Structures/Machines/oven.rsi/base.png
  Resources/Textures/_Starlight/Structures/Machines/oven.rsi/broken.png
  Resources/Textures/_Starlight/Structures/Machines/oven.rsi/enabled.png
  Resources/Textures/_Starlight/Structures/Machines/oven.rsi/icon.png
  Resources/Textures/_Starlight/Structures/Machines/oven.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Machines/oven.rsi/on.png
  Resources/Textures/_Starlight/Structures/Machines/oven.rsi/opened.png
Labels: Changes: UI, Changes: Sprites, S: Untriaged, S: Needs Review, size/L

#478 Adds an admeme only CBURN Shuttle
  Resources/Maps/_Starlight/Shuttles/CBURN.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#480 Elkridge Station - Bug fix
  Resources/Maps/_Starlight/Stations/Elkridge.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#479 Adds an admeme only Radio Tower
  Resources/Maps/_Starlight/Shuttles/Radiotower.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#483 Fixed brigbuddy so it matches functionality of crewmonitor
  Content.Client/_Starlight/Medical/CrewMonitoring/Brigmedic/BrigmedicCrewMonitoringBoundUserInterface.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#482 Removes Saltern from the map pool
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#481 Technology unlocks are broadcasted to relevant radio channels
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/disciplines.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_StarLight/Research/arsenal.yml
  Resources/Prototypes/_StarLight/Research/industrial.yml
  Resources/Prototypes/_StarLight/Research/medical.yml
Labels: S: Untriaged, S: Needs Review, size/M

#495 Brings Box Station up to date with starlight mapping standards, and upstream
  Resources/Maps/_Starlight/Stations/Box.yml
  Resources/Maps/_Starlight/Stations/Events/Christmas/Box.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/box.yml
  Resources/Prototypes/_StarLight/Maps/box.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#490 Super Synth Neck Slot
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/equipped-NECK.png
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#486 behold: moproaches
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/paper/paper-misc.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Mobs/NPCs/moproach.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/0-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/icon.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/inhand-left.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/inhand-right.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/mothroach-moving.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/mothroach.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/mothroach_dead.png
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/mothroach_lazy.png
  Resources/Textures/Objects/Misc/monkeycube.rsi/box_moproach.png
  Resources/Textures/Objects/Misc/monkeycube.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#395 Adds a new station - Orwell Station!
  Resources/Maps/_Starlight/Stations/Orwell.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/orwell.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/Pools/events.yml
  Resources/Prototypes/_StarLight/Maps/orwell.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#500 bso whitelisted
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/blueshield.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#502 fix borgi/smart corgi name datasets.
  Resources/Prototypes/Entities/Mobs/Cyborgs/borgi_chassis.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#501 Retexture of Double Lockers and new ones.
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/brigmedic.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/brigmedic_door.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/generic.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/generic_door.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/sec.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/sec_door.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/secure.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/secure_door.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/warden.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/warden_door.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review

#503 Fixes wiring in orwell
  Resources/Maps/_Starlight/Stations/Orwell.yml
Labels: Changes: Map, Changes: No C#

#512 Add hitscan cartrige damage examine
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Resources/Locale/en-US/_Starlight/damage/damage-examine.ftl
Labels: S: Untriaged, S: Needs Review, size/S

#514 Changes super synth name to use suffix instead
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#523 New trinket
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/rosary_beads.yml
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/equipped-HAND.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#537 Revert "New trinket"
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/rosary_beads.yml
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/equipped-HAND.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Misc/rosary_beeds.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review

#535 Re-Buffs space damage
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#524 WinterCoatsResistanceAdd
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#534 Make collective mind/Syndicate radio channel more readable
  Resources/Prototypes/_StarLight/CollectiveMinds/collective_mind.yml
  Resources/Prototypes/radio_channels.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#532 Movement of breacher.ogg to lobby tracks
  Resources/Audio/_Starlight/Music/Lobby/attributions.yml
  Resources/Audio/_Starlight/Music/Lobby/breacher.ogg
  Resources/Audio/_Starlight/Music/Misc/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S, Changes: Audio

#519 Add Law Comms to Station AI
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#522 Buffs the Syndicate Raid Suit
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: No C#, S: Needs Review, size/S

#543 Update's Orwell's Armoury
  Resources/Maps/_Starlight/Stations/Orwell.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#541 Adjusts Warden's Hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-warden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-warden.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-warden.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-warden.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-warden.rsi/inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#540 Changeling Store: Armblade text warning
  Resources/Locale/en-US/store/changeling-catalog.ftl
Labels: Changes: No C#, S: Needs Review, size/XS

#517 Stripping Changes w/ Available Hands & Cuffed/StaminaCrit Strip Speed
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
Labels: S: Untriaged, S: Needs Review, size/M

#427 The Organ Tree
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/_StarLight/Entities/Effects/mobspawn.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_StarLight/Hydroponics/seeds.yml
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/dead.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/harvest.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/produce.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/seed.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/stage-1.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/stage-2.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/stage-3.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/stage-4.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/stage-5.png
  Resources/Textures/_Starlight/Objects/Specific/Hydroponics/organtree.rsi/stage-6.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#544 Space Law 2.
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, size/M

#551 New Communications Console Announcement Sound, Extra Reverb Sounds, AI announcement & Binary radio recolor
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Resources/Audio/_Starlight/Announcements/announce2.ogg
  Resources/Audio/_Starlight/Announcements/attributions.yml
  Resources/Audio/_Starlight/Misc/attributions.yml
  Resources/Audio/_Starlight/Misc/bluealert.ogg
  Resources/Audio/_Starlight/Misc/notice1.ogg
  Resources/Audio/_Starlight/Misc/redalert.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/radio_channels.yml
Labels: S: Untriaged, S: Needs Review, size/S, Changes: Audio

#556 adds plushies
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/jess_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/livvy_plush.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/mina_plush.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/stinky_plush.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#559 pets don't like HonkHostile
  Resources/Prototypes/ai_factions.yml
Labels: Changes: No C#, S: Needs Review, size/XS
