Repository ss14Starlight/space-station-14, pull requests merged in 2025-01, with the labels that each got.

#199 add defib module to base mediborg
  Resources/Prototypes/borg_types.yml
Labels: Changes: No C#, S: Needs Review

#201 Christmas hotel
  Resources/Maps/_Starlight/Stations/Events/Christmas/Hotel.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/hotel.yml
  Resources/Prototypes/_StarLight/Maps/Pools/events.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#202 improvement to the switch system.
  Content.Shared/_Starlight/ItemSwitch/Components/ItemSwitchComponent.cs
  Content.Shared/_Starlight/ItemSwitch/SharedItemSwitchSystem.cs
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/wonderprod.yml
Labels: S: Untriaged, size/S

#206 Rebalance for ~unrobusts~ terror spiders.
  Content.Shared/_Starlight/Antags/TerrorSpider/StealthOnWebSystem.cs
  Resources/Prototypes/_StarLight/Actions/spiders.yml
  Resources/Prototypes/_StarLight/Damage/modifier_sets.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/terror_spiders.yml
Labels: S: Untriaged, size/S

#207 Usernames have been forwarded to the ticket list.
  Content.Client/_Starlight/MHelp/MentorMHelpUIHandler.cs
  Content.Client/_Starlight/MHelp/UI/MhelpControl.xaml.cs
  Content.Client/_Starlight/MHelp/UI/TicketEntry.xaml.cs
  Content.Client/_Starlight/MHelp/UI/TicketListControl.xaml.cs
  Content.Server/_Starlight/MentorSystem.cs
  Content.Shared/_Starlight/MHelp/SharedMentorSystem.cs
Labels: Changes: UI, S: Untriaged, size/S

#204 Ripley Resprite
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-broken-old.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-empty.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-old.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripleymkii-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripleymkii-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripleymkii.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_clamp.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_clamp_small.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_diamond_drill.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_drill.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_plasmacutter.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_punching_glove.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_wholegen.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_wire.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/ripley_construction.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/ripley_construction.rsi/ripley17.png
  Resources/Textures/Objects/Specific/Mech/ripley_construction.rsi/ripley18.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/XS

#197 Added Brigmedical Defib
  Resources/Prototypes/_StarLight/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/medical.yml
  Resources/Prototypes/_StarLight/Entities/Objects/base_item.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/o1.png
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/o2.png
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/tiny.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/defibbrig.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/defibbrig.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/defibbrig.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/defibbrig.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Specific/Medical/defibbrig.rsi/ready.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/defibbrig.rsi/screen.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#203 Map Edits - Hotel Station
  Resources/Maps/_Starlight/Stations/Events/Christmas/Hotel.yml
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/hotel.yml
  Resources/Prototypes/_StarLight/Maps/hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#208 Stops the graytide virus from happening randomly
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#211 Tearing off limbs
  Content.Server/_Starlight/Medical/LimbDamageSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/_Starlight/Medical/Damage/DamageBeforeApplyEvent.cs
Labels: S: Untriaged

#216 Security magboots
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Shoes/magboots-security.yml
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/equipped-FEET-vox.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/equipped-FEET.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/icon-on.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/on-equipped-FEET.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-left.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#222 Gun Update(Part 1.2)
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/base.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/mag-unshaded-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/decloner.rsi/normal.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Projectiles/projectiles.rsi/declone.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#221 Adds BSO office to Hotel
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Changelog/ChangelogStarlight.yml
  Resources/Locale/en-US/_Starlight/prototypes/access/accesses.ftl
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/_StarLight/Access/command.yml
  Resources/Prototypes/_StarLight/Access/representives.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/blueshield.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/icon-flash.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/off-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/on-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#223 Plushies and Fun
  Resources/Audio/_Starlight/Items/Toys/attributions.yml
  Resources/Audio/_Starlight/Items/Toys/gnome_hahe.ogg
  Resources/Audio/_Starlight/Items/Toys/gnome_murderer.ogg
  Resources/Audio/_Starlight/Items/Toys/gnome_stop.ogg
  Resources/Audio/_Starlight/Items/Toys/yippie.ogg
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/security.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Pistols/golden_pistol.yml
  Resources/Textures/_Starlight/Clothing/Head/Helmets/dredd.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/dredd.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/dredd.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/dredd.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/dredd.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/dredd.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/abductor_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/axolotl_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/borb_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/bottleship.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/creature_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/gnome_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/goat_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/ian_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/kitten_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/lisa_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/pig_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/renault_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/snail_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/squishims_cow.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/squishims_frog.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/sus_plushie.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/base.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/bolt-open.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/mag-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Pistols/golden_mk58.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M, Changes: Audio

#224 BSO Security Survival box
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
Labels: Changes: No C#, size/XS

#225 Shooting 2.0
  .github/workflows/yaml-linter.yml
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Anomaly/Components/ReagentProducerAnomalyComponent.cs
  Content.Server/Atmos/Piping/Unary/Components/GasCondenserComponent.cs
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Components/LungComponent.cs
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Chemistry/Components/SolutionRegenerationComponent.cs
  Content.Server/Execution/ExecutingSystem.cs
  Content.Server/Power/Generator/ChemicalFuelGeneratorAdapterComponent.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Animals/UdderComponent.cs
  Content.Shared/Animals/WoolyComponent.cs
  Content.Shared/Chemistry/Components/SmokeComponent.cs
  Content.Shared/Chemistry/Components/SolutionContainerMixerComponent.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/Fluids/Components/DrainComponent.cs
  Content.Shared/Fluids/Components/PuddleComponent.cs
  Content.Shared/Weapons/Ranged/HitscanPrototype.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Starlight/Effects/DisplacementEffect.cs
  Content.Shared/_Starlight/Weapon/Components/HitScanCartridgeAmmoComponent.cs
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/_StarLight/Decals/blood.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/hitscan.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
  Resources/Textures/_Starlight/Effects/blood.rsi/meta.json
  Resources/Textures/_Starlight/Effects/blood.rsi/splatter1.png
  Resources/Textures/_Starlight/Effects/blood.rsi/splatter2.png
  Resources/Textures/_Starlight/Effects/blood.rsi/splatter3.png
  Resources/Textures/_Starlight/Effects/blood.rsi/splatter4.png
  Resources/Textures/_Starlight/Effects/impact.rsi/impact.png
  Resources/Textures/_Starlight/Effects/impact.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Projectiles/projectiles.rsi/impact.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Projectiles/projectiles.rsi/trace.png
Labels: Changes: Sprites, S: Untriaged, size/M

#228 Add SOP to guidebook
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/alert-levels.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/code-blue.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/code-delta.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/code-gamma.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/code-green.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/code-red.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/code-violet.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/Alerts/code-yellow.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/sop-intro.xml
Labels: Changes: No C#, S: Needs Review, size/M

#229 Map Edits - Hotel Station
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/hotel.yml
  Resources/Prototypes/_StarLight/Maps/hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review

#231 Reduce antags
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#235 Core Starlight-ified
  Resources/Maps/_Starlight/Stations/Core.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#233 hop
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Ears/headsets_alt.yml
Labels: S: Untriaged, Changes: No C#, size/S

#241 Roboticist access tweak
  Resources/Prototypes/_StarLight/Roles/Jobs/Science/roboticist.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#240 Wallmounts Signs
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/brigmed.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/calendar.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/cleanhands.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/disposals_proper.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/eyechart.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/nosmoking.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/secureareasmall.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/wall_biohazard.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/wall_extremeheat.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/yessmoking.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/youtoolpia.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#242 Adds BSO hardsuit to Hotel
  Resources/Maps/_Starlight/Stations/Hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#238 Abductor Improvement
  Content.Client/_Starlight/Antags/Abductor/AbductorConsoleBui.cs
  Content.Client/_Starlight/Antags/Abductor/AbductorConsoleWindow.xaml
  Content.Server/Wires/WiresComponent.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/_Starlight/Antags/Abductor/AbductorSystem.Console.cs
  Content.Server/_Starlight/Antags/Abductor/AbductorSystem.Gizmo.cs
  Content.Server/_Starlight/Antags/Abductor/AbductorSystem.Vest.cs
  Content.Server/_Starlight/Antags/Abductor/AbductorSystem.cs
  Content.Shared/Wires/SharedWiresComponent.cs
  Content.Shared/_Starlight/Antags/Abductor/AbductorCameraConsoleUI.cs
  Content.Shared/_Starlight/Antags/Abductor/AbductorsComponents.cs
  Content.Shared/_Starlight/Antags/Abductor/SharedAbductorSystem.cs
  Content.Shared/_Starlight/ItemSwitch/Components/ItemSwitchComponent.cs
  Content.Shared/_Starlight/ItemSwitch/SharedItemSwitchSystem.cs
  Resources/Locale/en-US/_Starlight/abductor/abductor-ui.ftl
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/abductor_shuttle.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/abductor.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/abductor.rsi/combat-equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/abductor.rsi/combat-icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/abductor.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/abductor.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/abductor.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/abductor.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/abductor.rsi/stealth-equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/green-inhand-left.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/green-inhand-right.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/green-unlit.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/red-inhand-left.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/red-inhand-right.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/red-unlit.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/yellow-inhand-left.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/yellow-inhand-right.png
  Resources/Textures/_Starlight/Objects/Tools/multitool.rsi/yellow-unlit.png
Labels: Changes: UI, Changes: Sprites, Changes: Map, S: Untriaged, S: Needs Review

#243 Die A Glorious Death Rule Correction
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR9MassSabotage.xml
Labels: Changes: No C#, size/XS

#245 Updated Hotel Arrivals
  Resources/Maps/_Starlight/Stations/Hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#249 Mime toy
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_StarLight/lobbyscreens.yml
  Resources/Textures/_Starlight/LobbyScreens/attributions.yml
  Resources/Textures/_Starlight/LobbyScreens/positivity.webp
  Resources/Textures/_Starlight/LobbyScreens/positivity.webp.yml
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/mime_lizard.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#248 New BSO clothing
  Resources/Prototypes/_StarLight/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Mask/masks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Representives/blueshield.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/blueshield.yml
  Resources/Textures/_Starlight/Clothing/Back/Satchels/blueshield.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/blueshield.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/blueshield.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/blueshield.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Back/Satchels/blueshield.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Belt/blueshieldwebbing.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Clothing/Belt/blueshieldwebbing.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Belt/blueshieldwebbing.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Belt/blueshieldwebbing.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Belt/blueshieldwebbing.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/off-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/on-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Mask/blueswat.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Starlight/Clothing/Mask/blueswat.rsi/equipped-MASK-vox.png
  Resources/Textures/_Starlight/Clothing/Mask/blueswat.rsi/equipped-MASK.png
  Resources/Textures/_Starlight/Clothing/Mask/blueswat.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Mask/blueswat.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Mask/blueswat.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Mask/blueswat.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_elite.rsi/equipped-NECK.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_elite.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_elite.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_elite.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Neck/Cloaks/bso_elite.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/eliteblueshield.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/eliteblueshield.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/eliteblueshield.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/eliteblueshield.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/eliteblueshield.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/eliteblueshield.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/eliteblueshield.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/eliteblueshield.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/eliteblueshield.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/eliteblueshield.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/eliteblueshield.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/eliteblueshield.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#247 Hotel Map - Engineering
  Resources/Maps/_Starlight/Stations/Hotel.yml
Labels: Changes: Map, Changes: No C#

#256 Pirate Shuttle "The Lance"
  Resources/Maps/_Starlight/Shuttles/LancePirates.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#257 Add Pirate Shuttle Event
  Resources/Prototypes/_StarLight/Shuttles/shuttles.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#254 Adds a custom shuttle to Hotel
  Resources/Maps/Shuttles/emergency_hotel.yml
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Prototypes/_StarLight/Maps/hotel.yml
Labels: Changes: Map, Changes: No C#, size/XL

#261 Adds a gravity gen to Hotel's shuttle
  Resources/Maps/Shuttles/emergency_hotel.yml
  Resources/Maps/_Starlight/Stations/Hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#262 BSO Clothing update/BSO Locker update and a few other things
  Resources/Prototypes/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/bso.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Shoes/magboots-bso.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/_StarLight/Entities/Objects/base_item.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
  Resources/Textures/_Starlight/Clothing/Belt/brigmedicwebbing.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Clothing/Belt/brigmedicwebbing.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Belt/brigmedicwebbing.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Belt/brigmedicwebbing.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Belt/brigmedicwebbing.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/icon-flash.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/off-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/blueshield.rsi/on-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/blueshield.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/equipped-FEET-vox.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/equipped-FEET.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/icon-on.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/on-equipped-FEET.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/on-inhand-left.png
  Resources/Textures/_Starlight/Clothing/Shoes/Boots/magboots-bso.rsi/on-inhand-right.png
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/o2.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#264 Adds reporter to hotel station
  Resources/Prototypes/_StarLight/Maps/hotel.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#263 Vox Trade Shuttle and Syndicate Signaleer Outpost
  Resources/Maps/_Starlight/Shuttles/LancePirates.yml
  Resources/Maps/_Starlight/Shuttles/Signaleer.yml
  Resources/Maps/_Starlight/Shuttles/VoxATS.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
  Resources/Prototypes/_StarLight/Shuttles/shuttles.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#266 new voices
  Resources/Locale/en-US/_Starlight/ui-options/voices.ftl
  Resources/Prototypes/_StarLight/voices.yml
Labels: S: Untriaged, Changes: No C#

#267 Improve Surgery
  Content.Client/_Starlight/Medical/Surgery/SurgeryBui.cs
  Content.Server/_Starlight/Medical/Surgery/ImplantSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/SurgeryComponent.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Conditions.cs
  Content.Shared/_Starlight/Medical/Surgery/Events/SurgeryOrganInsertCompleted.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.Conditions.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.cs
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Body/Prototypes/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_StarLight/Surgery/surgeries.yml
  Resources/Textures/Mobs/Species/Slime/organs.rsi/heart-inhand-left.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/heart-inhand-right.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/heart-off.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/heart-on.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#259 Fix AI actions when reinserted to AI core
  Content.Shared/Actions/ActionContainerSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#268 init 2
  Content.Client/_Starlight/Medical/Surgery/SurgeryBui.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.cs
  Content.Shared/Clumsy/ClumsySystem.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Conditions.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Tools.cs
  Content.Shared/_Starlight/Medical/Surgery/Events/SurgeryDoAfterEvent.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.Conditions.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Starlight/Medical/Surgery/StepInvalidReason.cs
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_StarLight/Surgery/amputation_steps.yml
  Resources/Prototypes/_StarLight/Surgery/amputation_surgeries.yml
  Resources/Prototypes/_StarLight/Surgery/attachment_steps.yml
  Resources/Prototypes/_StarLight/Surgery/attachment_surgeries.yml
  Resources/Prototypes/_StarLight/Surgery/common_steps.yml
  Resources/Prototypes/_StarLight/Surgery/surgeries.yml
  Resources/Prototypes/_StarLight/Surgery/surgery_steps.yml
Labels: S: Untriaged, S: Needs Review, size/M

#269 Shuttles Tweaks
  Resources/Maps/_Starlight/Shuttles/LancePirates.yml
  Resources/Maps/_Starlight/Shuttles/Signaleer.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#270 Uplink for building shuttles, debug
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_StarLight/Catalog/menacing_shuttle_building_uplink.yml
  Resources/Prototypes/_StarLight/Catalog/shuttle_building_uplink.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Abductor/tools.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Specific/supermatter.yml
  Resources/Prototypes/_StarLight/Store/categories.yml
  Resources/Prototypes/_StarLight/Store/currency.yml
  Resources/Prototypes/_StarLight/Store/presets.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#272 Improve surgery 2
  Content.Client/_Starlight/Medical/Surgery/SurgeryBui.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Conditions.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Parts.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.Conditions.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Starlight/Medical/Surgery/StepInvalidReason.cs
  Resources/Prototypes/Body/Prototypes/human.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_StarLight/Surgery/organs_steps.yml
  Resources/Prototypes/_StarLight/Surgery/surgeries.yml
Labels: S: Untriaged, S: Needs Review, size/M
