Repository ss14Starlight/space-station-14, pull requests merged in 2025-08, with the labels that each got.

#1171 cuff hotfix
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1174 Sizes 1984
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/resomi.yml
  Resources/Prototypes/_StarLight/Species/avali.yml
  Resources/Prototypes/_StarLight/Species/cyclorite.yml
  Resources/Prototypes/_StarLight/Species/felionoid.yml
  Resources/Prototypes/_StarLight/Species/vulpkanin.yml
Labels: Changes: UI, S: Needs Review, size/S

#1176 Fix erroring RSIs from latest upstream merge
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/meta.json
  Resources/Textures/Mobs/Ghosts/revenant.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/meta.json
Labels: Changes: No C#, size/S

#1190 LR-30 Backpack and suit storage slot
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Rifles/lr30.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Rifles/lr30.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Rifles/lr30.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#1130 gamemode display override cvars
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Starlight.cs
  Content.Shared/_Starlight/CCVar/StarlightCCVar.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1080 Various zombie, biosuit, and hardsuit changes (but mostly zombies)
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, S: Needs Review, size/S

#1150 Slightly less heels
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Shoes/highheels.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/shoes.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/blueshield.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1177 Nerf Dragon, buff carp
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_StarLight/Damage/modifier_sets.yml
Labels: Changes: No C#, S: Needs Review, size/S

#958 Adds Breaching Shells
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/beanbag.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/breach.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1085 Update ChangeLog Validator
  Tools/_Starlight/validate_changelog.py
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1055 Subframe fix
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
Labels: S: Untriaged, S: Needs Review, size/M

#1069 Update Lagan
  Resources/Maps/_Starlight/Stations/Lagan.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/L

#1032 marriage axe 2
  Resources/Audio/MidiCustom/_Starlight/space-station-14.sf2
  Resources/Audio/_Starlight/Weapons/attributions.yml
  Resources/Audio/_Starlight/Weapons/marriage_hum.ogg
  Resources/Audio/_Starlight/Weapons/marriage_swing.ogg
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/e_melee.yml
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe-inhands.rsi/inhand-left-blade.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe-inhands.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe-inhands.rsi/inhand-right-blade.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe-inhands.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe-inhands.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe.rsi/marriage.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe.rsi/marriage_blade.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/marriage_axe.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M, Changes: Audio

#1018 Laser/Energy Buffs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1191 Mech nv fix container
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
Labels: Changes: Sprites, Changes: Map, S: Untriaged, size/S, Changes: Audio

#1178 Energy magnum
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, Changes: No C#, size/S

#933 Derelict borgi midround event.
  Resources/Locale/en-US/_Starlight/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Starlight/job/job.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
  Resources/Prototypes/_StarLight/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/silicon-laws.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1066 Add a toolshed command "subtlemessage"
  Content.Server/Prayer/PrayerSystem.cs
  Resources/Locale/en-US/commands/toolshed-commands.ftl
Labels: S: Untriaged, S: Needs Review, size/S

#1194 Commie radio channel.
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Emag/Components/EmagComponent.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/emag.yml
Labels: Changes: Sprites, Changes: Map, Changes: Audio

#1113 Added a servername string to the round-notifications
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Locale/en-US/discord/round-notifications.ftl
Labels: S: Untriaged, S: Needs Review, size/S

#1218 reconnect
  Content.Server/_NullLink/Core/ActorRouter.cs
  Content.Server/_NullLink/Core/IActorRouter.cs
  Content.Server/_NullLink/Core/OrleansClientHolder.cs
  Content.Server/_NullLink/PlayerData/NullLinkPlayerManager.cs
  Resources/Prototypes/_NullLink/RolesReq/title.yml
Labels: S: Untriaged, S: Needs Review, size/S

#1208 loc-fix
  Content.Server/_Starlight/Railroading/RailroadingSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1071 Harrier and Meta Class Ships
  Resources/Maps/_Starlight/Shuttles/NSSV_MetaClass.yml
  Resources/Maps/_Starlight/Shuttles/NTSV_HarrierClass.yml
  Resources/Prototypes/_StarLight/GameRules/confshuttles.yml
Labels: Changes: Map, Changes: No C#, size/XL

#1212 Gives Chemistry Permissions to Brigmedics
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1211 Fix species not being ordered alphabetically in the character customization UI
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/XS

#1230 Add null guard to GetBodyChildren() to prevent NullReferenceException
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: Changes: UI, Changes: Sprites, Changes: Map, S: Untriaged, S: Needs Review, size/S, Changes: Audio

#1241 [HOTFIX] Migration.yml fix
  Resources/_Starlight/migration.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1219 hub reconnect
  Content.Server/_NullLink/Core/ActorRouter.Common.cs
  Content.Server/_NullLink/Core/ActorRouter.cs
  Content.Server/_NullLink/Core/IActorRouter.cs
  Content.Server/_NullLink/Core/OrleansClientHolder.cs
  Content.Server/_NullLink/EventBus/NullLinkEventBusManager.cs
  Content.Server/_NullLink/Helpers/Pipe.cs
  Content.Server/_NullLink/HubSystem.Server.cs
  Content.Server/_NullLink/HubSystem.ServerInfo.cs
  Content.Server/_NullLink/HubSystem.cs
  Content.Server/_NullLink/PlayerData/NullLinkPlayerManager.cs
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/GhostThemes/patron.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/GhostThemes/staff.yml
  Resources/Textures/_Starlight/Mobs/Customization/GhostThemes/angel.rsi/angel.png
  Resources/Textures/_Starlight/Mobs/Customization/GhostThemes/angel.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Customization/GhostThemes/hawk.rsi/hawk.png
  Resources/Textures/_Starlight/Mobs/Customization/GhostThemes/hawk.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Customization/GhostThemes/shadow_demon.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Customization/GhostThemes/shadow_demon.rsi/shadow_demon.png
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#1011 Max Cap Nerf
  Content.Shared/CCVar/CCVars.Atmos.cs
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: S: Untriaged, S: Needs Review, size/XS

#1064 Ai interface cube
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/_Starlight/Silicons/Borgs/StationAIShuntComponent.cs
  Content.Shared/_Starlight/Silicons/Borgs/StationAIShuntSystem.cs
  Content.Shared/_Starlight/Silicons/Borgs/StationAIShuntableComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/stationAI.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_StarLight/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/robotics.yml
  Resources/Textures/_Starlight/Interface/Actions/actions_shunt.rsi/icon-on.png
  Resources/Textures/_Starlight/Interface/Actions/actions_shunt.rsi/icon-unshunt.png
  Resources/Textures/_Starlight/Interface/Actions/actions_shunt.rsi/icon.png
  Resources/Textures/_Starlight/Interface/Actions/actions_shunt.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#1224 Fix kudzu reactivation by checking contents of grid and not grid itself
  Content.Server/Spreader/SpreaderSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1248 Lottery shuttle fixed
  Resources/Maps/_Starlight/Shuttles/lotteryShuttle.yml
  Resources/Prototypes/_StarLight/GameRules/LotteryShuttle.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#1227 Add guard to unbuckling to help it to not act upon terminating entities
  Content.Shared/Bed/SharedBedSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1167 Galio & Romero Plushies (proper PR this time)
  Resources/Locale/en-US/_Starlight/plushies/galio_plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/galio_plushie.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/galio_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/galio_plushie.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/galio_plushie.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/galio_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/romero_plushie.rsi/icon.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1091 behold. salvage console
  Resources/Locale/en-US/_Starlight/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/Circuitboards/computers.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_StarLight/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_StarLight/Objectives/thief.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1070 Adds Silica Station
  Resources/Maps/_Starlight/Shuttles/cargo_silica.yml
  Resources/Maps/_Starlight/Shuttles/sec_patrol_one.yml
  Resources/Maps/_Starlight/Shuttles/sec_patrol_two.yml
  Resources/Maps/_Starlight/Stations/Silica.yml
  Resources/Prototypes/_StarLight/Maps/silica.yml
Labels: Changes: UI, Changes: Sprites, Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL, Changes: Audio

#1254 revert it back to old values
  Content.Shared/Atmos/Atmospherics.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1251 Sayable hotfix (again)
  Content.Shared/Silicons/Laws/SiliconLawPrototype.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1245 Redwoods' Plushie!
  Resources/Locale/en-US/_Starlight/plushies/redwoods_plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/redwoods_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/redwoods_plushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#1046 Adds Prism Station
  Content.Client/Parallax/Data/GeneratedParallaxTextureSource.cs
  Resources/Maps/_Starlight/Shuttles/cargo_prism.yml
  Resources/Maps/_Starlight/Shuttles/emergency_prism.yml
  Resources/Maps/_Starlight/Shuttles/security_prism.yml
  Resources/Maps/_Starlight/Stations/Prism.yml
  Resources/Prototypes/_StarLight/Maps/Prism.yml
  Resources/Prototypes/_StarLight/Parallaxes/Prism.yml
  Resources/Textures/_Starlight/Parallaxes/blue_giant.png
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#1257 Adds Prism Station and Silica Station to the defual map pool
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1259 plushie-redwoods-8 fix
  Resources/Locale/en-US/_Starlight/plushies/redwoods_plushie.ftl
Labels: Changes: No C#, S: Needs Review, size/XS

#1266 Knife embedding fix
  Content.Shared/Tools/Systems/SharedToolSystem.MultipleTool.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: S: Untriaged, S: Needs Review, size/XS

#1262 Silica Station Update 1
  Resources/Maps/_Starlight/Stations/Silica.yml
Labels: Changes: Map, Changes: No C#

#1236 Increases MechTankFill moles to aleviate current tank swap issue
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1214 Railroading System: Drinks
  Content.Server/_Starlight/Railroading/RailroadingSystem.cs
  Content.Shared/_Starlight/Abstract/Conditions/SubjectMindJobCondition.cs
  Content.Shared/_Starlight/Railroading/Components/RailroadCardComponent.cs
  Resources/Locale/en-US/_Starlight/rail/rail.ftl
  Resources/Prototypes/_StarLight/GameRules/railroading.yml
  Resources/Prototypes/_StarLight/Railroading/food.yml
  Resources/Prototypes/_StarLight/Railroading/metabolize/alcohol.yml
  Resources/Prototypes/_StarLight/Railroading/metabolize/base_metabolize.yml
  Resources/Textures/_Starlight/Railroading/daiquiri.png
  Resources/Textures/_Starlight/Railroading/glass.png
  Resources/Textures/_Starlight/Railroading/margarita.png
  Resources/Textures/_Starlight/Railroading/martini.png
  Resources/Textures/_Starlight/Railroading/shampagne.png
  Resources/Textures/_Starlight/Railroading/shot.png
  Resources/Textures/_Starlight/Railroading/whiskey.png
  Resources/Textures/_Starlight/Railroading/white.png
Labels: S: Untriaged, S: Needs Review, size/L

#1267 Mechs Fixes
  Content.Client/Mech/Ui/MechBoundUserInterface.cs
  Content.Client/Mech/Ui/MechMenu.xaml.cs
  Content.Server/Mech/Components/MechBatteryComponent.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/MechUI.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M

#1285 Fix erroring RSIs from latest upstream merge part 2
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach/moproach.rsi/meta.json
  Resources/Textures/Mobs/Ghosts/revenant.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1284 Dragon nerf again (Hotfix)
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_StarLight/Damage/modifier_sets.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1293 Fixed Lottery Shuttle Admeme (4th time)
  Resources/Maps/_Starlight/Shuttles/lotteryShuttle.yml
  Resources/Maps/_Starlight/Shuttles/lotteryShuttleAdmeme.yml
  Resources/Prototypes/_StarLight/GameRules/LotteryShuttle.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#1298 Add fallback check when unobstructed check is insufficient
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
Labels: S: Untriaged, S: Needs Review, size/M

#1309 Redwoods' Plushie PR #2
  Resources/Locale/en-US/_Starlight/plushies/brighteyes_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/mahio_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/malachi_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/remiie_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/rhea_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/virus_plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/brighteyes_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/brighteyes_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/mahio_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/mahio_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/malachi_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/malachi_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/remiie_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/remiie_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/rhea_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/rhea_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/virus_plushie.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/virus_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/virus_plushie.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#1329 fix nukeops not being able to end round once they are all dead.
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1327 Voiceline fix for PR #1309
  Resources/Locale/en-US/_Starlight/plushies/redwoods_plushie.ftl
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1326 Damage interrupts vent crawl doafter + No more shooting from vents
  Content.Server/VentCraw/VentCrawTubeSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1325 Make dragon gib rather than delete without a trace when it expires to no rifts
  Content.Server/Dragon/Components/DragonComponent.cs
  Content.Server/Dragon/DragonSystem.cs
  Resources/Prototypes/_StarLight/Entities/Effects/dragon_disappear.yml
Labels: S: Untriaged, S: Needs Review, size/S

#1324 holy fuck
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1322 Uplink Hotfix
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1103 Gib begone
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/Materials/MaterialReclaimerComponent.cs
  Content.Shared/_Starlight/Materials/RecyclerTryGibEvent.cs
  Content.Shared/_Starlight/Materials/SLMaterialReclaimerSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1283 Borg Name Update v2
  Resources/Locale/en-US/datasets/names/borg.ftl
  Resources/Prototypes/Datasets/Names/borg.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1333 Leth station
  Resources/Maps/_Starlight/Stations/Leth.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review

#1274 GMN presets
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/CentComm/ntnc.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Syndicate/gmn.yml
  Resources/Prototypes/_StarLight/tags.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1342 Fixed Zookeeper name Showing as Job-Name-Zookeeper
  Resources/Locale/en-US/job/job-names.ftl
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1345 Added Leth to Map Pool
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
Labels: Changes: No C#, S: Needs Review

#1311 QM Knuckleduster Mining
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1175 Roundstart leather satchel
  Resources/Prototypes/Loadouts/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1162 Remove AdminOOC colour restriction
  Content.Server/Administration/Commands/SetAdminOOC.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1281 Fixes Plushie
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/fixes_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/fixes_plushie.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#1299 Prism Update 1
  Resources/Maps/_Starlight/Shuttles/emergency_prism.yml
  Resources/Maps/_Starlight/Shuttles/security_prism.yml
  Resources/Maps/_Starlight/Stations/Prism.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#1338 NullLink whitelist
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Server/Connection/ConnectionManager.Whitelist.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/_NullLink/ConditionPlayerCount.cs
  Content.Server/_NullLink/HubSystem.Server.cs
  Content.Server/_NullLink/HubSystem.cs
  Content.Server/_NullLink/PlayerData/INullLinkPlayerManager.cs
  Content.Server/_NullLink/PlayerData/NullLinkPlayerManager.Linking.cs
  Content.Shared/_NullLink/CCVar/NullLinkCCVars.cs
  Resources/Locale/en-US/_NullLink/connection-messages.ftl
Labels: Changes: UI, size/S

#1340 Derelict and PunPun Playtime Requirement Tweaks
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/ghost_roles.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1291 Auto Assign Update
  .github/labeler.yml
  .github/workflows/auto-assign.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1276 Doxes-the-Captain Plushie
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/doxesthecaptain.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/doxesthecaptain.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/doxesthecaptain.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/doxesthecaptain.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/doxesthecaptain.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1166 Target Branch Validator
  .github/workflows/target-branch-validation.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1134 Wizard healing staff and testing of events
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Magic/Events/RandomGlobalSpawnSpellEvent.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/_Starlight/Magic/Events/SpawnItemInHandEvent.cs
  Resources/Locale/en-US/_Starlight/store/spellbook-catalog.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/_StarLight/Catalog/spellbook_catalog.yml
  Resources/Prototypes/_StarLight/Magic/event_spells.yml
Labels: S: Untriaged, S: Needs Review, size/M

#1303 Dragon ghost theme
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/GhostThemes/staff.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1346 Blue + Grey HoS Jumpsuit, HL uniform (blue shirt and tie)
  Resources/Locale/en-US/_Starlight/plushies/rhea_plushie.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1323 Add plush of me lol
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_StarLight/SoundCollections/catmoth.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/koni_plush.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/koni_plush.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/koni_plush.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/koni_plush.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/koni_plush.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1097 Mentor tooling
  Content.Client/_Starlight/MHelp/IMHelpUIHandler.cs
  Content.Client/_Starlight/MHelp/MHelpUIController.cs
  Content.Client/_Starlight/MHelp/MentorMHelpUIHandler.cs
  Content.Client/_Starlight/MHelp/MentorSystem.cs
  Content.Client/_Starlight/MHelp/UI/MhelpControl.xaml
  Content.Client/_Starlight/MHelp/UI/MhelpControl.xaml.cs
  Content.Client/_Starlight/MHelp/UI/MhelpPanel.xaml
  Content.Client/_Starlight/MHelp/UI/MhelpPanel.xaml.cs
  Content.Client/_Starlight/MHelp/UserMHelpUIHandler.cs
  Content.Server/_Starlight/Ghost/MGhostCommand.cs
  Content.Server/_Starlight/MentorSystem.cs
  Content.Shared/_Starlight/CCVar/StarlightCCVars.mhelp.cs
  Content.Shared/_Starlight/MHelp/SharedMentorSystem.cs
  Resources/Locale/en-US/_Starlight/mentoring/mentor.ftl
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M

#1202 Make ToolSystem.Welder know its place
  Content.Shared/Tools/Components/WelderComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.MultipleTool.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1065 Chaplain cluwne cure
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Bible/Components/BibleComponent.cs
  Content.Shared/Cluwne/CluwneComponent.cs
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/cluwnebeast.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/tags.yml
Labels: S: Untriaged, S: Needs Review, size/M

#1239 Player count listing condition + Cluwne
  Content.Server/_Starlight/Store/Conditions/ListingPlayerCountCondition.cs
  Resources/Prototypes/Catalog/spellbook_catalog.yml
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1050 Move EOR to evac shuttle launch / Extend EOR time
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#1200 Emaggable mail
  Content.Shared/Delivery/DeliverySpawnerComponent.cs
  Content.Shared/Delivery/SharedDeliverySystem.cs
  Resources/Prototypes/Entities/Structures/Machines/mail_teleporter.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_tables.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/letter_loot_tables.yml
Labels: Changes: Map, S: Needs Review, size/M, Changes: Audio

#995 Adds admeme xenos
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/xeno.yml
Labels: S: Untriaged, Changes: No C#, size/M

#1022 Killa Tamale Plush
  Resources/Locale/en-US/_Starlight/plushies/killa_plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/killa_plushie.rsi/KillaTamalePlush.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/killa_plushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1314 Surgery operating update
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/_Starlight/Medical/Surgery/BodyScannerSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Parts.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Tools.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedBodyScannerSystem.cs
  Resources/Locale/en-US/_Starlight/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/_Starlight/machine-linking/transmitter_ports.ftl
  Resources/Locale/en-US/_Starlight/medical/components/health-analyzer-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_StarLight/DeviceLinking/sink_ports.yml
  Resources/Prototypes/_StarLight/DeviceLinking/source_ports.yml
Labels: S: Untriaged, S: Needs Review, size/M

#1242 Making mediborgs not suck (as much)
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1341 Add Brigmedic access to HoP and Lawyer access to BSO
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/blueshield.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1086 OfferItem
  Content.Shared/Hands/Components/HandsComponent.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/_Starlight/Hands/SharedHandsSystem.Offer.cs
  Resources/Locale/en-US/_Starlight/hands/hand-offer.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/_StarLight/Alerts/offer.yml
  Resources/Textures/_Starlight/Interface/Alerts/offer.rsi/meta.json
  Resources/Textures/_Starlight/Interface/Alerts/offer.rsi/offer.png
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#1343 Vending machine pricing
  Content.Client/VendingMachines/UI/VendingMachineItem.xaml
  Content.Client/VendingMachines/UI/VendingMachineItem.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Client/VendingMachines/VendingMachineSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/_Starlight/Economy/ItemPriceManager.cs
  Content.Server/_Starlight/Economy/PriceRandomizationSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Content.Shared/VendingMachines/VendingMachineInterfaceState.cs
  Content.Shared/_Starlight/Economy/ItemPriceComponent.cs
  Content.Shared/_Starlight/Economy/PriceCategoryPrototype.cs
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Pipes/pipe.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Vapes/vape.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/igniter.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Misc/chopsticks.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/hand_labeler.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/price_categories.yml
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M, Changes: C#

#1382 hotfix
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1379 Stat for abductors
  Content.Server/_Starlight/Antags/Abductor/EntitySystems/AbductorSystem.RoundEnd.cs
  Content.Server/_Starlight/Antags/Abductor/EntitySystems/AbductorSystem.cs
  Resources/Locale/en-US/_Starlight/abductor/preset-abductor.ftl
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1372 Fix battery weapon mode conditions
  Content.Server/_Starlight/Weapons/Ranged/Conditions/AlertLevelCondition.cs
  Content.Server/_Starlight/Weapons/WeaponDismantleOnShootSystem.cs
  Content.Shared/Weapons/Ranged/Components/BatteryWeaponFireModesComponent.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/_Starlight/Weapons/Components/HitScanCartridgeAmmoComponent.cs
  Content.Shared/_Starlight/Weapons/Components/WeaponDismantleOnShootComponent.cs
  Content.Shared/_Starlight/Weapons/HitScanPierceAttemptEvent.cs
  Content.Shared/_Starlight/Weapons/HitScanRicochetAttemptEvent.cs
  Content.Shared/_Starlight/Weapons/Ranged/Components/FireModeCondition.cs
  Content.Shared/_Starlight/Weapons/SharedWeaponDismantleOnShootSystem.cs
  Resources/Locale/en-US/_Starlight/weapons/mode-conditions.ftl
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1392 fix screens
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/screen.yml
Labels: Changes: No C#, S: Needs Review

#1396 vending machine sound fix
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS, Changes: C#

#1377 Maxcaps rebalance (again)
  Content.Shared/CCVar/CCVars.Atmos.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#1361 Stats fix and improve
  Content.Server/GameTicking/Rules/DragonRuleSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Resources/Locale/en-US/_Starlight/store/store.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_StarLight/Store/presets.yml
Labels: S: Needs Review, size/S, Changes: C#

#1410 makes it so AI can actually hear the glorious laws changed sound when they are shunted
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS, Changes: C#

#1366 AME adjustments
  Content.Server/Ame/AmeNodeGroup.cs
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1428 fixes ling refrences to point to SL changeling instead of upstream's …
  Resources/Prototypes/game_presets.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#1426 Borgis fix
  Resources/Prototypes/_StarLight/Entities/Mobs/Cyborgs/base_borgi_chassis.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/_StarLight/Mobs/Cyborgs/borgi_chassis.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/L

#1422 fixes the serum
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/subdermal_implants.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1418 mech weapons fix
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Needs Review, Changes: C#

#1451 fix
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Connection/ConnectionManager.Whitelist.cs
  Content.Server/Connection/ConnectionManager.cs
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1461 Railroading/criminal
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingAnnounceHandlerSystem.cs
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingAssignRoleHandlerSystem.cs
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingFaxHandlerSystem.cs
  Content.Server/_Starlight/Railroading/RailroadingSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingAvoidHandcuffsTaskSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingSurviveTaskSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingTimerTaskSystem.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/RailroadAnnounceComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/RailroadAssignRoleComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/RailroadFaxOnChosenComponent.cs
  Content.Shared/_Starlight/Railroading/Components/RailroadCardPerformerComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadAvoidHandcuffsTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadConsumeTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadSurviveTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadTimerTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Watchers/RailroadAvoidHandcuffsWatcherComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Watchers/RailroadMetabolizeWatcherComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Watchers/RailroadSurviveWatcherComponent.cs
  Resources/Locale/en-US/_Starlight/rail/fax-based.ftl
  Resources/Locale/en-US/_Starlight/rail/task.ftl
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/_StarLight/GameRules/railroading.yml
  Resources/Prototypes/_StarLight/Railroading/metabolize/base_metabolize.yml
  Resources/Prototypes/_StarLight/Railroading/metabolize/fax_based.yml
  Resources/Prototypes/_StarLight/Roles/MindRoles/railroading.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/_Starlight/Railroading/criminal.png
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1463 Starlight dev
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Connection/ConnectionManager.Whitelist.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingAnnounceHandlerSystem.cs
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingAssignRoleHandlerSystem.cs
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingFaxHandlerSystem.cs
  Content.Server/_Starlight/Railroading/RailroadingSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingAvoidHandcuffsTaskSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingSurviveTaskSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingTimerTaskSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Starlight/Knockback/SharedKnockbackSystem.cs
  Content.Shared/_Starlight/Language/Systems/SharedLanguageSystem.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/RailroadAnnounceComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/RailroadAssignRoleComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/RailroadFaxOnChosenComponent.cs
  Content.Shared/_Starlight/Railroading/Components/RailroadCardPerformerComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadAvoidHandcuffsTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadConsumeTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadSurviveTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Tasks/RailroadTimerTaskComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Watchers/RailroadAvoidHandcuffsWatcherComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Watchers/RailroadMetabolizeWatcherComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Watchers/RailroadSurviveWatcherComponent.cs
  Resources/Audio/_Starlight/Music/Jukebox/attributions.yml
  Resources/Audio/_Starlight/Music/Jukebox/cc-interns.ogg
  Resources/Audio/_Starlight/Music/Jukebox/steel-and-uranium.ogg
  Resources/Changelog/ChangelogStarlight.yml
  Resources/Locale/en-US/_Starlight/Language/languages.ftl
  Resources/Locale/en-US/_Starlight/rail/fax-based.ftl
  Resources/Locale/en-US/_Starlight/rail/task.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/moproach.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_StarLight/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/felionoid.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/_StarLight/GameRules/railroading.yml
  Resources/Prototypes/_StarLight/Language/Animals/mothroach.yml
  Resources/Prototypes/_StarLight/Railroading/metabolize/base_metabolize.yml
  Resources/Prototypes/_StarLight/Railroading/metabolize/fax_based.yml
  Resources/Prototypes/_StarLight/Roles/MindRoles/railroading.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/_Starlight/Railroading/criminal.png
Labels: S: Untriaged, S: Needs Review, S: Merge Conflict, Changes: Audio, Changes: C#

#1457 fix xenoborgs.
  Resources/Prototypes/Entities/Mobs/Cyborgs/xenoborgs.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#1092 Give humans foxlike ears & tails
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Wagging/WaggingSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Speech/SpeechSystem.cs
  Content.Shared/_Starlight/Markings/MarkingEmoteData.cs
  Resources/Locale/en-US/_Starlight/markings/human_fox.ftl
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/human_fox.yml
Labels: S: Untriaged, S: Needs Review, size/L, Changes: C#

#1263 Upstream Afterlight PR #62
  Resources/Locale/en-US/_Afterlight/floortiles.ftl
  Resources/Locale/en-US/_Afterlight/slime_markings.ftl
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Afterlight/Entities/Mobs/Customization/Marking/slime.yml
  Resources/Prototypes/_Afterlight/Tiles/floors.yml
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/blades.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/bunks.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/carblunkle.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/foxlike.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/hoppers.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/meta.json
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/stalks.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/stalks_small.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/ears.rsi/thorns.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/glassleaf.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/gooey_dragon.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/gummy_cat.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/hopping_slime.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/meta.json
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/nudibranchi.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/squishy_fox.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/vulpish.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/waggable_mass.png
  Resources/Textures/_Afterlight/Mobs/Customization/SlimePerson/tail.rsi/waggable_mass_wagging.png
  Resources/Textures/_Afterlight/Tiles/glass_bronze.png
  Resources/Textures/_Afterlight/Tiles/glass_plasma.png
  Resources/Textures/_Afterlight/Tiles/glass_plasma_reinforced.png
  Resources/Textures/_Afterlight/Tiles/glass_uranium.png
  Resources/Textures/_Afterlight/Tiles/glass_uranium_reinforced.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1470 Setup workflows
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-stable.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1477 Medical Belt for Surgeons
  Resources/Prototypes/_StarLight/Roles/Jobs/Medical/surgeon.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1480 Adds language icons for vulps, shadekin and vox
  Resources/Prototypes/_StarLight/Language/Species/canilunzt.yml
  Resources/Prototypes/_StarLight/Language/Species/marish.yml
  Resources/Prototypes/_StarLight/Language/Species/voxpidgin.yml
  Resources/Prototypes/_StarLight/Language/icon.yml
  Resources/Textures/_Starlight/Interface/language_icon.rsi/meta.json
  Resources/Textures/_Starlight/Interface/language_icon.rsi/shadekin.png
  Resources/Textures/_Starlight/Interface/language_icon.rsi/vox.png
  Resources/Textures/_Starlight/Interface/language_icon.rsi/vulp.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1487 update
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingFaxHandlerSystem.cs
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingMessageHandlerSystem.cs
  Content.Server/_Starlight/Railroading/RailroadingSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingAvoidHandcuffsTaskSystem.cs
  Content.Server/_Starlight/Railroading/TaskSystems/RailroadingSurviveTaskSystem.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/Fax/IRailroadFaxComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/Fax/RailroadFaxLetter.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/Fax/RailroadFaxOnChosenComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/Fax/RailroadFaxOnFailedComponent.cs
  Content.Shared/_Starlight/Railroading/Components/Handlers/Message/RailroadMessageOnChosenComponent.cs
  Content.Shared/_Starlight/Railroading/Events/RailroadingCardChosenEvent.cs
  Resources/Locale/en-US/_Starlight/rail/fax-based.ftl
  Resources/Prototypes/_StarLight/Railroading/metabolize/fax_based.yml
Labels: size/M, Changes: C#, S: Approved

#1484 playtime export
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Directory.Packages.props
Labels: S: Needs Review, size/S, Changes: C#, S: Awaiting Changes

#1491 Resomi are not spiders.
  Resources/Prototypes/Entities/Mobs/Player/resomi.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1501 Removes AI Songs
  Resources/Audio/_Starlight/Music/Jukebox/attributions.yml
  Resources/Audio/_Starlight/Music/Jukebox/cc-interns.ogg
  Resources/Audio/_Starlight/Music/Jukebox/steel-and-uranium.ogg
  Resources/Prototypes/_StarLight/Catalog/Jukebox/Standard.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S, Changes: Audio
