Repository ss14Starlight/space-station-14, pull requests merged in 2025-03, with the labels that each got.

#348 long hair w/ bangs
  Resources/Locale/en-US/_Starlight/accessories/human-hair.ftl
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/human_hair.yml
  Resources/Textures/_Starlight/Mobs/Customization/human_hair.rsi/longbangs.png
  Resources/Textures/_Starlight/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#351 Patches
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentQuantity.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Content.Shared/_Starlight/Medical/Items/Components/PatchComponent.cs
  Content.Shared/_Starlight/Medical/Items/Components/PatchUserComponent.cs
  Content.Shared/_Starlight/Medical/Items/EntitySystems/PatchSystem.cs
  Content.Shared/_Starlight/Medical/Items/PatchDoAfterEvent.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Locale/en-US/medical/components/healing-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/bandaid.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/mender.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch.rsi/bandaid1.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch.rsi/bandaid2.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch.rsi/bandaid3.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch.rsi/bandaid4.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch.rsi/bandaid5.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch.rsi/bandaid6.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch_pack.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch_pack.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch_pack.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Specific/Chemistry/patch_pack.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Specific/Medical/medical.rsi/bandaid-brute.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/medical.rsi/bandaid-burn-small.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/medical.rsi/bandaid-burn.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/medical.rsi/bandaid-clown.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/medical.rsi/bandaid-med.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/medical.rsi/bandaid.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/medical.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#345 .30 Boxes properly resprited to 7.6 (no room for the 2..), and hardsuit changes
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/ap.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/fmj.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/hp.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/incendiary.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/sp.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/uranium.png
Labels: Changes: Sprites, Changes: No C#, size/S

#353 whitelist PB
  Content.Server/Connection/ConnectionManager.cs
Labels: S: Untriaged, size/S

#350 Rule revision
  Resources/Prototypes/_StarLight/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL10.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL11.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL12.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL13.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL5.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL7.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL8.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL9.xml
  Resources/ServerInfo/Guidebook/ServerRules/StarlightRules.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#355 Central Command Flag
  Resources/Prototypes/_StarLight/Entities/Structures/Wallmounts/flags/ccflag.yml
  Resources/Textures/_Starlight/Structures/Wallmounts/flags/ccflag.rsi/centcomm_flag.png
  Resources/Textures/_Starlight/Structures/Wallmounts/flags/ccflag.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#359 fix
  Resources/Prototypes/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_ballistic.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_StarLight/Body/Organs/cyber_organs.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/docs.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/industrial.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/medical.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/printer.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/ammo.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/light-rifle.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/magnum.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/pistol.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/rifle.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/security.yml
  Resources/Prototypes/_StarLight/Research/arsenal.yml
  Resources/Prototypes/_StarLight/Research/industrial.yml
  Resources/Prototypes/_StarLight/Research/medical.yml
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged, Changes: No C#, size/L

#362 fix ammo
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
Labels: Changes: No C#

#360 Added in formal wear for different CentComm Divisions
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommadminformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommadminformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommadminformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommadminformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommadminformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommadminformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommcargoformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommcargoformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommcargoformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommcargoformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommcargoformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommcargoformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommdomesticformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommdomesticformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommdomesticformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommdomesticformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommdomesticformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommdomesticformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommengiformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommengiformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommengiformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommengiformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommengiformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommengiformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommintelformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommintelformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommintelformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommintelformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommintelformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommintelformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommmedformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommmedformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommmedformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommmedformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommmedformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommmedformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommresearchformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommresearchformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommresearchformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommresearchformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommresearchformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommresearchformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommsecformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommsecformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommsecformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommsecformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommsecformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommsecformalwear.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommspecialopsformalwear.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommspecialopsformalwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommspecialopsformalwear.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommspecialopsformalwear.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommspecialopsformalwear.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/centcommspecialopsformalwear.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#365 Add new security SOP with the text of grapegifter
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/Brigmedic.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/Cadet.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/Detective.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/HeadOfSecurity.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/PrisonerTreatment.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/SecurityOfficer.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/Warden.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/security-sop-intro.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#369 Add new cargo SOP from the wiki (grapegifter)
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/CargoTechnician.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/EngineeringOrders.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/HandlingOrders.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/MedicalOrders.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/MiningSpecialist.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/Quartermaster.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/SalvageSpecialist.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/ScienceOrders.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/SecurityOrders.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/ServiceOrders.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/cargo-sop-intro.xml
Labels: S: Untriaged, Changes: No C#, size/M

#364 Security gloves!
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesfingerlessred.rsi/equipped-HAND.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesfingerlessred.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesfingerlessred.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesfingerlessred.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesfingerlessred.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesred.rsi/equipped-HAND.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesred.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesred.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesred.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/securityglovesred.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#370 wiz-nerf and req
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Roles/Antags/wizard.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: S: Untriaged, Changes: No C#, size/S

#371 surgery fix
  Content.Client/_Starlight/Medical/Surgery/SurgeryBui.cs
  Content.Client/_Starlight/Medical/Surgery/SurgerySystem.cs
  Content.Server/_Starlight/Medical/Surgery/OrganSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
Labels: S: Untriaged, size/S

#363 Map update - Manor Station
  Resources/Maps/Shuttles/emergency_manor.yml
  Resources/Maps/_Starlight/Shuttles/emergency_manor.yml
  Resources/Maps/_Starlight/Stations/Manor.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/manor.yml
  Resources/Prototypes/_StarLight/Maps/manor.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#377 Implement searchbox for the Player Manifest search at Round End
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Resources/Locale/en-US/round-end/round-end-summary-window.ftl
Labels: S: Untriaged, S: Needs Review, size/S

#380 Adds old HoS hat
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/_Starlight/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/hoshat.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/hoshat.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/hoshat.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/hoshat.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review

#376 Boxcutter
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/boxcutter.yml
  Resources/Textures/_Starlight/Objects/Weapons/Melee/boxcutter.rsi/boxcutter.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/boxcutter.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/boxcutter.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/boxcutter.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/boxcutter.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#379 Adds "The Bulwark"
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/Body/Parts/cyberlimbs.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Shields/cyberlimb.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cyberlimb.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/security.yml
  Resources/Prototypes/_StarLight/Research/medical.yml
  Resources/Prototypes/_StarLight/Species/cyberlimbs.yml
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/l_bulwark_arm.png
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/l_bulwark_arm_TOOLS.png
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/meta.json
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/r_bulwark_arm.png
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/r_bulwark_arm_TOOLS.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cyberchainsaw.rsi/cyberchainsaw.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cyberchainsaw.rsi/cyberchainsawoff.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cyberchainsaw.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cybershield.rsi/cybershield.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cybershield.rsi/cybershieldoff.png
  Resources/Textures/_Starlight/Objects/Weapons/Melee/cybershield.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#378 Adds Deathsquad Shuttle (Admeme only)
  Resources/Maps/_Starlight/Shuttles/DSshuttle.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#386 Fixes arm breaking bug
  Resources/Prototypes/_StarLight/Entities/Objects/Shields/cyberlimb.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#385 Vests and Helmets
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/Clothing/OuterClothing/Armor/bulletproof.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/bulletproof.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/bulletproof.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/bulletproof.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/icon-up.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/up-equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/up-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/up-inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/bulletproof.rsi/up-inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#389 LMG Changes
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#391 Adding Quantum Ark
  Resources/Maps/_Starlight/Shuttles/quantum_ark.yml
  Resources/Maps/_Starlight/Shuttles/quantum_ark_event.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#396 EMERGENCY FIX FOR AMMO BUNDLE
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#398 Fix backwards salvage magnet on Manor
  Resources/Maps/_Starlight/Stations/Manor.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#393 supermatter from the ATS
  Content.Shared/Construction/Components/FlatpackComponent.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/_StarLight/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/large.png
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/microwave.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#399 Dominater/Hybrid Buff
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#388 Double door lockers!
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/generic.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/generic_door.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/generic_open.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/locked.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/sec.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/sec_door.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/sec_open.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/secure.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/secure_door.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/secure_open.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/sparking.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/unlocked.png
  Resources/Textures/_Starlight/Structures/Storage/closet-large.rsi/welded.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#416 Track Addition of "Cosmonaut" & Respective Modifications
  Resources/Audio/Lobby/Cosmonaut.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: No C#, S: Needs Review, size/XS, Changes: Audio

#414 Iaa+magi icon redux
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/IAA.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/Magistrate.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#415 Changeling mindshield
  Content.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Shared/Mindshield/FakeMindShield/SharedFakeMindShieldImplantSystem.cs
  Content.Shared/Mindshield/FakeMindShield/SharedFakeMindshieldSystem.cs
  Resources/Locale/en-US/store/changeling-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/changeling_catalog.yml
Labels: S: Untriaged, S: Needs Review, size/S

#421 Add search filter box for Round End Summary
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
Labels: S: Untriaged, S: Needs Review, size/S

#424 Changes warden's hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, S: Needs Review, size/S

#430 Clown battlesuit
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/clown_bs_helmet.rsi/icon-flash.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/clown_bs_helmet.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/clown_bs_helmet.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/clown_bs_helmet.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/clown_bs_helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/clown_bs_helmet.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/clown_bs_helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/clown_battlesuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/clown_battlesuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/clown_battlesuit.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/clown_battlesuit.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/clown_battlesuit.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/clown_battlesuit.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#431 Clown anomaly
  Content.Server/Anomaly/AnomalySystem.Commands.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Audio/_Starlight/Effects/clown_anomaly_explosion.ogg
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/clown.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/clown_kudzu.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/_StarLight/tags.yml
  Resources/Textures/_Starlight/Mobs/Aliens/clown_kudzu.rsi/clamp.png
  Resources/Textures/_Starlight/Mobs/Aliens/clown_kudzu.rsi/dead.png
  Resources/Textures/_Starlight/Mobs/Aliens/clown_kudzu.rsi/golem.png
  Resources/Textures/_Starlight/Mobs/Aliens/clown_kudzu.rsi/jared.png
  Resources/Textures/_Starlight/Mobs/Aliens/clown_kudzu.rsi/lover.png
  Resources/Textures/_Starlight/Mobs/Aliens/clown_kudzu.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_11.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_12.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_13.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_21.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_22.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_23.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_31.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_32.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/kudzu_33.png
  Resources/Textures/_Starlight/Objects/Misc/clownkudzu.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/Cores/clown.rsi/core.png
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/Cores/clown.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/Cores/clown.rsi/pulse.png
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/clown.rsi/anomclown-pulse.png
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/clown.rsi/anomclown.png
  Resources/Textures/_Starlight/Structures/Specific/Anomalies/clown.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M, Changes: Audio

#418 Helmets Galore.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Starlight/Clothing/Head/Helmets/heatabsorbent.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/heatabsorbent.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/heatabsorbent.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/heatabsorbent.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/heatabsorbent.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/heatabsorbent.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Helmets/plate.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/plate.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/plate.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/plate.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/plate.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/plate.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Helmets/reflect.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/reflect.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/reflect.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/reflect.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/reflect.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/reflect.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Helmets/stabproof.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/stabproof.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/stabproof.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/stabproof.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/stabproof.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/stabproof.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M
