Repository ss14Starlight/space-station-14, pull requests merged in 2025-09, with the labels that each got.

#1494 Hotfix - Tracking Implanter Death Rattle
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1485 Fixed Vampire Logic
  Content.Server/Vampire/VampireSystem.Abilities.cs
  Content.Server/Vampire/VampireSystem.cs
Labels: S: Needs Review, size/XS, Changes: C#

#1483 Happy honk meal rehonked
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: No C#, S: Needs Review, size/M

#1459 Shadow Borgis -> Xeno Borgis
  Resources/Prototypes/Recipes/Lathes/Packs/xenoborgs.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/animal_cubes.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/xenoborg.yml
  Resources/Prototypes/radio_channels.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1448 Fixed forged omnitool crowbar
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/tools.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1444 Module tweaks
  Resources/Locale/en-US/_Starlight/borg/borg_modules.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1442 Fire Response Shuttle Event
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/UnknownShuttleFireResponse.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/GameRules/unknown_shuttles.yml
Labels: Changes: Map, Changes: No C#

#1371 Nerf eshotgun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1508 Fix errors in replays.
  Content.Shared/_Starlight/Abstract/Conditions/ConditionsComponent.cs
  Content.Shared/_Starlight/Abstract/Conditions/SubjectAccessCondition.cs
Labels: S: Untriaged, S: Needs Review, Changes: C#

#1475 Saltern update and QoL improvements
  Resources/Maps/_Starlight/Stations/Saltern.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#1509 Further Language Tweaks (Remade PR)
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_StarLight/Language/Animals/animal.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1493 Added missing magazines and ammo box recipes to emagged lathes
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/light-rifle.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/magnum.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/pistol.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/smg.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1488 Fix workflow
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-review.yml
Labels: Changes: No C#, S: Needs Review, size/M, Branch: Starlight

#1478 WaggingSystem cleanup & fixes
  Content.Server/Wagging/WaggingSystem.cs
  Content.Shared/_Starlight/Humanoid/Markings/MarkingPrototype.cs
  Content.Shared/_Starlight/Humanoid/Markings/StarlightMarkingSystem.cs
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/human_fox.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/vulpkanin.yml
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1511 Test 2
  Content.Shared/_Starlight/Abstract/Extensions/EntityExtensions.cs
Labels: Changes: UI, Changes: Sprites, Changes: Map, Changes: Audio, Changes: C#

#1114 Budget CyberOrgans
  Content.Server/_Starlight/Medical/Surgery/OrganSystem.cs
  Content.Shared/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/_Starlight/Cybernetics/Components/ThirstRateMultiplierComponent.cs
  Content.Shared/_Starlight/Cybernetics/Components/UnableToTasteComponent.cs
  Resources/Locale/en-US/_Starlight/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Starlight/research/technologies.ftl
  Resources/Locale/en-US/metabolism/metabolizer-types.ftl
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_StarLight/Body/Organs/cyber_organs.yml
  Resources/Prototypes/_StarLight/Flavors/flavors.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/medical.yml
  Resources/Prototypes/_StarLight/Research/medical.yml
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/eyeball-l.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/eyeball-r.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/eyeballs-inhand-left.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/eyeballs-inhand-right.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/kidney-l.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/kidney-r.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/kidneys-inhand-left.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/kidneys-inhand-right.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/liver-inhand-left.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/liver-inhand-right.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/liver.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/stomach-inhand-left.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/stomach-inhand-right.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/stomach.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/budget_cyber_organs.rsi/tongue.png
Labels: Changes: Sprites, S: Needs Review, size/M, Changes: C#

#1514 Heterochromia support for Vulpkanin & Avali
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1404 Pipecleaners
  Resources/Prototypes/_StarLight/Decals/pipecleaners.yml
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/meta.json
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner1.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner10.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner11.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner12.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner13.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner14.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner15.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner16.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner17.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner18.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner19.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner2.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner20.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner21.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner22.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner23.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner24.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner25.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner26.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner27.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner28.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner29.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner3.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner30.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner31.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner32.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner33.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner34.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner35.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner36.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner37.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner4.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner5.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner6.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner7.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner8.png
  Resources/Textures/_Starlight/Decals/pipecleaner.rsi/pipecleaner9.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1529 A handful more integration test fixes
  Content.IntegrationTests/Tests/VendingMachineRestockTest.cs
  Content.Server/Wagging/WaggingSystem.cs
  Content.Server/_Starlight/Railroading/RailroadingSystem.cs
  Content.Shared/_Starlight/Wagging/StarlightWaggingSystem.cs
  Resources/Locale/en-US/_Starlight/Avali/stasis.ftl
  Resources/Maps/_Starlight/Shuttles/CC-NT/DSshuttle.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/_StarLight/Actions/avali.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_StarLight/Enemies/Abyss.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/Computers/computers.yml
  Resources/_Starlight/migration.yml
Labels: Changes: Map, S: Untriaged, S: Needs Review, size/M, Changes: C#

#1433 Fix late join antagonist selection
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: S: Untriaged, size/S, Changes: C#

#1474 Various minor edits to Leth to help improve the map visually
  Resources/Maps/_Starlight/Stations/Leth.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/L

#1550 fix
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Actions/Components/TargetActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/_Starlight/Access/AccessReadEvent.cs
  Content.Shared/_Starlight/Antags/Abductor/EntitySystems/SharedAbductorSystem.cs
  Resources/Prototypes/_StarLight/Actions/abductor.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/abductor.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/abductor.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/InventoryTemplates/human_inventory_template.yml
Labels: S: Needs Review, size/M, Changes: C#

#1535 abductor tweaks (all nerfs)
  Content.Server/_Starlight/Antags/Abductor/EntitySystems/AbductorSystem.Actions.cs
  Content.Server/_Starlight/Antags/Abductor/EntitySystems/AbductorSystem.Console.cs
Labels: S: Untriaged, size/S, Changes: C#

#1558 Update Resomi to have ammonia based blood + Fix Avali
  Resources/Locale/en-US/_Starlight/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Starlight/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Starlight/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/metabolism/metabolizer-types.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Body/Organs/resomi.yml
  Resources/Prototypes/Body/Parts/resomi.yml
  Resources/Prototypes/Body/Prototypes/resomi.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_StarLight/Reagents/biological.yml
  Resources/Prototypes/_StarLight/Reagents/medicine.yml
  Resources/ServerInfo/Guidebook/Mobs/Resomi.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M, Branch: Starlight

#1566 Abductor Shuttle Redesign
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/abductor_shuttle.yml
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/abductor_shuttleold.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#1561 bg traits
  Content.Client/UserInterface/Systems/Character/Windows/CharacterWindow.xaml
  Content.Client/UserInterface/Systems/Character/Windows/CharacterWindow.xaml.cs
  Content.Client/_Starlight/Character/Info/UI/CharacterBackgroundInfoControl.xaml
  Content.Client/_Starlight/Character/Info/UI/CharacterBackgroundInfoControl.xaml.cs
  Content.Client/_Starlight/Character/Info/UI/CharacterInspectWindow.xaml
  Content.Client/_Starlight/Character/Info/UI/CharacterInspectWindow.xaml.cs
  Content.Client/_Starlight/Character/Info/UI/CharacterUIController.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/_Starlight/character/character-info.ftl
  Resources/Locale/en-US/_Starlight/traits/background-traits.ftl
  Resources/Prototypes/_StarLight/Traits/background.yml
  Resources/Prototypes/_StarLight/Traits/categories.yml
  Resources/Prototypes/_StarLight/tags.yml
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M, Changes: C#

#1563 implicitroof
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Resources/Maps/_Starlight/Stations/Cork.yml
Labels: Changes: Map, S: Needs Review, size/M, Changes: C#

#1534 job spec
  Content.Server/_Starlight/Railroading/RailroadRuleSystem.cs
  Content.Server/_Starlight/Railroading/RailroadingSystem.cs
  Content.Shared/_Starlight/Railroading/Components/RailroadRuleComponent.cs
  Content.Shared/_Starlight/Railroading/Components/RailroadSpawnFlowComponent.cs
  Resources/Prototypes/_StarLight/Roles/MindRoles/railroading.yml
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1617 Add Moffic language trait (I forgor)
  Resources/Locale/en-US/_Starlight/traits/language-traits.ftl
  Resources/Prototypes/_StarLight/Traits/languages.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1619 Comment out major test fail.
  Content.IntegrationTests/Tests/Round/CharacterSelectionTest.cs
Labels: S: Untriaged, S: Needs Review, Changes: C#

#1607 the last plushies through the gate
  Resources/Locale/en-US/_Starlight/plushies/eina_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/einalia_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/liz_plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/barfo_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/barfo_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/eina_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/eina_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/einalia_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/einalia_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/elizabeth_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/elizabeth_plushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review

#1609 Adds a Ticket Machine to Barratry
  Resources/Maps/_Starlight/Stations/Barratry.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/S

#1598 Lobby Art Addition
  Resources/Prototypes/_StarLight/lobbyscreens.yml
  Resources/Textures/_Starlight/LobbyScreens/attributions.yml
  Resources/Textures/_Starlight/LobbyScreens/tritfire_dragon.webp
  Resources/Textures/_Starlight/LobbyScreens/tritfire_dragon.webp.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1184 [#932] Enhanced Reflect for Esword
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Events/HitScanReflectAttempt.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1185 [#932] Commie stuff
  Resources/Locale/en-US/_Starlight/revolutionary/rev-supply-rift.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Decals/splatters.yml
  Resources/Prototypes/_StarLight/Catalog/rev_uplink_catalog.yml
  Resources/Prototypes/_StarLight/Decals/crayons.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Backpacks/soviet.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/handy_flag.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/soviet_armaments_crate.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_StarLight/ai_factions.yml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/Textures/_Starlight/Effects/crayondecals.rsi/meta.json
  Resources/Textures/_Starlight/Effects/crayondecals.rsi/ussp.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/ppsh.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/ppsh.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/ppsh.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1613 (Exploit Fix) Updated Cat Ears / New Cat Ears
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Starlight/Clothing/Head/Hats/blackcatears.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/blackcatears.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/blackcatears.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/blackcatears.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/blackcatears.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M, Changes: C#

#1614 Add 3 more Reptilian Emotes - Hiss, Purr, Rattle
  Resources/Audio/_Starlight/Voice/Reptilian/attributions.yml
  Resources/Audio/_Starlight/Voice/Reptilian/lizard_hiss1.ogg
  Resources/Audio/_Starlight/Voice/Reptilian/lizard_hiss2.ogg
  Resources/Audio/_Starlight/Voice/Reptilian/lizard_hiss3.ogg
  Resources/Audio/_Starlight/Voice/Reptilian/lizard_purr.ogg
  Resources/Audio/_Starlight/Voice/Reptilian/lizard_rattle.ogg
  Resources/Locale/en-US/_Starlight/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/SoundCollections/reptilian.yml
  Resources/Prototypes/_StarLight/Voice/speech_emotes.yml
  Resources/Textures/_Starlight/Actions/retilian.rsi/meta.json
  Resources/Textures/_Starlight/Actions/retilian.rsi/rattle.png
  Resources/Textures/_Starlight/Actions/retilian.rsi/reptile_call.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M, Changes: Audio

#1630 Guidebook upkeep
  Resources/ServerInfo/Guidebook/Antagonist/Abductors.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
Labels: Changes: No C#, S: Needs Review

#1628 event pr
  Resources/Prototypes/_StarLight/Entities/Clothing/Mask/masks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/lobbyscreens.yml
  Resources/Textures/_Starlight/Clothing/Mask/squid_one.rsi/equipped-MASK.png
  Resources/Textures/_Starlight/Clothing/Mask/squid_one.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Mask/squid_one.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Mask/squid_three.rsi/equipped-MASK.png
  Resources/Textures/_Starlight/Clothing/Mask/squid_three.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Mask/squid_three.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Mask/squid_two.rsi/equipped-MASK.png
  Resources/Textures/_Starlight/Clothing/Mask/squid_two.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Mask/squid_two.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/squid_prisoner.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/squid_prisoner.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/squid_prisoner.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/squid_prisoner.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/squid_prisoner.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid_prisoner.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid_prisoner.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid_prisoner.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid_prisoner.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/squid_prisoner.rsi/meta.json
  Resources/Textures/_Starlight/LobbyScreens/attributions.yml
  Resources/Textures/_Starlight/LobbyScreens/friendly-face-in-space.webp
  Resources/Textures/_Starlight/LobbyScreens/friendly-face-in-space.webp.yml
  Resources/Textures/_Starlight/LobbyScreens/you-are-not-funny.webp
  Resources/Textures/_Starlight/LobbyScreens/you-are-not-funny.webp.yml
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M, Branch: Starlight

#1573 Terror spiders update
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/_Starlight/Antags/Actions/EMPScreamSystem.cs
  Content.Server/_Starlight/Antags/TerrorSpider/EggInjectSystem.cs
  Content.Server/_Starlight/Evolving/Conditions/DamageDealCondition.cs
  Content.Server/_Starlight/Evolving/Conditions/EggsInjectCondition.cs
  Content.Server/_Starlight/Evolving/Conditions/SpiderWebCondition.cs
  Content.Server/_Starlight/Evolving/EntitySystems/EvolvingSystem.cs
  Content.Shared/Spider/SpiderComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Starlight/Actions/Jump/JumpComponent.cs
  Content.Shared/_Starlight/Actions/Jump/JumpSystem.cs
  Content.Shared/_Starlight/Antags/Actions/SharedEMPScream.cs
  Content.Shared/_Starlight/Antags/TerrorSpider/TerrorSpiderComponents.cs
  Content.Shared/_Starlight/Antags/TerrorSpider/TerrorSpiderEvents.cs
  Content.Shared/_Starlight/Chemistry/Components/InjectOnCollideComponent.cs
  Content.Shared/_Starlight/Chemistry/SharedOnCollideSystem.cs
  Content.Shared/_Starlight/Evolving/EvolvingComponent.cs
  Content.Shared/_Starlight/Evolving/EvolvingCondition.cs
  Content.Shared/_Starlight/Evolving/EvolvingEvents.cs
  Content.Shared/_Starlight/Spider/Events/SpiderWebSpawnedEvent.cs
  Content.Shared/_Starlight/Weapons/Melee/Events/AfterMeleeHitEvent.cs
  Content.Shared/_Starlight/Weapons/Ranged/Components/FireModeCondition.cs
  Resources/Prototypes/Actions/spider.yml
  Resources/Prototypes/_StarLight/Actions/spiders.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/terror_spiders.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_StarLight/Entities/Structures/spider_web.yml
  Resources/Textures/_Starlight/Interface/Actions/actions_spider.rsi/evolve.png
  Resources/Textures/_Starlight/Interface/Actions/actions_spider.rsi/meta.json
  Resources/Textures/_Starlight/Interface/Actions/actions_spider.rsi/spiderscream.png
Labels: Changes: Sprites, S: Needs Review, size/M, Changes: C#

#1648 Fix borg radio TTS.
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: S: Untriaged, Changes: C#

#1649 why did this not occur ON THE ACTUAL PR
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1627 ID card update railroad rule
  Content.Server/_Starlight/Railroading/HandlerSystem/RailroadingModifyIdCardHandlerSystem.cs
  Content.Shared/_Starlight/Railroading/Components/RailroadModifyIdCardComponent.cs
  Resources/Prototypes/_StarLight/GameRules/railroading.yml
  Resources/Prototypes/_StarLight/Railroading/metabolize/fax_based.yml
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1646 Fix howling
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1640 Reflector Flatpacks
  Resources/Prototypes/_StarLight/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/flatpack.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/reflector.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#1591 Sprite Fix - Satanic Bible
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/icon.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1626 Prism Update 2
  Resources/Maps/_Starlight/Stations/Prism.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#1653 Xenoborgi back into the fold
  Resources/Prototypes/_StarLight/Entities/Mobs/Cyborgs/borgi_chassis.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1639 Add Diona sap and Avali/Resomi blood to artifact blood trigger
  Resources/Prototypes/XenoArch/triggers.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1645 Fix: add construction recipes for Uranium & Reinforced Uranium Directional Windows
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S, Branch: Starlight

#1355 reagent dispensers update
  Content.Client/Chemistry/UI/ReagentCardControl.xaml.cs
  Content.Client/Chemistry/UI/ReagentDispenserBoundUserInterface.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Shared/Chemistry/SharedReagentDispenser.cs
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
Labels: Changes: UI, Changes: Map, S: Untriaged, S: Needs Review, size/M, Changes: C#

#1292 implement crayon rotation
  Content.Client/Content.Client.csproj
  Content.Client/Crayon/CrayonSystem.cs
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonWindow.xaml
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Content.Client/Decals/Overlays/DecalPlacementOverlay.cs
  Content.Client/_Starlight/Crayon/Overlays/CrayonDecalGhostOverlay.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Shared/Crayon/SharedCrayonComponent.cs
  Resources/Locale/en-US/crayon/crayon-component.ftl
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M, Changes: C#

#1296 Vending Stock Balancing
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/donut.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/gib.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pwrgame.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/smite.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/soda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/spaceup.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/starkist.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/tankdispenser.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1596 [VS Code] All yaml tags resolved
  .vscode/settings.json
  Tools/_Starlight/custom_tags.json
  Tools/_Starlight/find_yaml_tags.py
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/L, Changes: C#

#1427 The tower of babel
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/_Starlight/Magic/Events/TowerOfBabelEvent.cs
  Resources/Locale/en-US/_Starlight/store/spellbook-catalog.ftl
  Resources/Prototypes/_StarLight/Catalog/spellbook_catalog.yml
  Resources/Prototypes/_StarLight/Magic/event_spells.yml
  Resources/Textures/_Starlight/Actions/wizard.rsi/babel_spell.png
  Resources/Textures/_Starlight/Actions/wizard.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M, Changes: C#

#1660 Fixed surgery
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.cs
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1670 fix Bold for Bold
  Content.Server/_Starlight/TextToSpeech/TTSSystem.cs
Labels: S: Needs Review, size/XS, Changes: C#

#1666 Terror spiders tweaks
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/_Starlight/Antags/Actions/EMPScreamSystem.cs
  Content.Shared/_Starlight/Actions/Jump/SharedJumpSystem.cs
  Resources/Locale/en-US/_Starlight/actions/actions/spider.ftl
  Resources/Prototypes/Actions/spider.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/terror_spiders.yml
  Resources/Prototypes/_StarLight/Entities/Structures/spider_web.yml
Labels: S: Needs Review, size/S, Changes: C#

#1662 Restock Price Fixes
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1677 Unfucks compiling on windows
  Content.IntegrationTests/Tests/_StarLight/Thaven/MoodTests.cs
  Resources/Prototypes/_StarLight/Actions/thaven.yml
  Resources/Prototypes/_StarLight/Body/Organs/thaven.yml
  Resources/Prototypes/_StarLight/Body/Parts/thaven.yml
  Resources/Prototypes/_StarLight/Body/thaven.yml
  Resources/Prototypes/_StarLight/Damage/thaven.yml
  Resources/Prototypes/_StarLight/Datasets/Names/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/thaven.yml
  Resources/Prototypes/_StarLight/Guidebook/species.yml
  Resources/Prototypes/_StarLight/InventoryTemplates/thaven_inventory_template.yml
  Resources/Prototypes/_StarLight/Species/thaven.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/no_and.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/shared.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/wildcard.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/yes_and.yml
  Resources/Prototypes/_StarLight/Thavens/datasets.yml
  Resources/Prototypes/_StarLight/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/datasets.yml
  Resources/Prototypes/_Starlight/Guidebook/species.yml
  Resources/Prototypes/_Starlight/Voice/speech_emote_sounds.yml
  Resources/ServerInfo/_StarLight/Guidebook/Mobs/Thaven.xml
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1679 Stable Patch
  Content.IntegrationTests/Tests/_StarLight/Thaven/MoodTests.cs
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Server/_Starlight/Antags/Actions/EMPScreamSystem.cs
  Content.Server/_Starlight/TextToSpeech/TTSSystem.cs
  Content.Shared/_Starlight/Actions/Jump/SharedJumpSystem.cs
  Resources/Changelog/ChangelogStarlight.yml
  Resources/Locale/en-US/_Starlight/actions/actions/spider.ftl
  Resources/Prototypes/Actions/spider.yml
  Resources/Prototypes/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Species/vulpkanin.yml
  Resources/Prototypes/_StarLight/Actions/thaven.yml
  Resources/Prototypes/_StarLight/Body/Organs/thaven.yml
  Resources/Prototypes/_StarLight/Body/Parts/thaven.yml
  Resources/Prototypes/_StarLight/Body/thaven.yml
  Resources/Prototypes/_StarLight/Damage/thaven.yml
  Resources/Prototypes/_StarLight/Datasets/Names/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/terror_spiders.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/thaven.yml
  Resources/Prototypes/_StarLight/Entities/Structures/spider_web.yml
  Resources/Prototypes/_StarLight/Guidebook/species.yml
  Resources/Prototypes/_StarLight/InventoryTemplates/thaven_inventory_template.yml
  Resources/Prototypes/_StarLight/Species/thaven.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/no_and.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/shared.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/wildcard.yml
  Resources/Prototypes/_StarLight/Thavens/Moods/yes_and.yml
  Resources/Prototypes/_StarLight/Thavens/datasets.yml
  Resources/Prototypes/_StarLight/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/datasets.yml
  Resources/Prototypes/_Starlight/Guidebook/species.yml
  Resources/Prototypes/_Starlight/Voice/speech_emote_sounds.yml
  Resources/ServerInfo/Guidebook/Mobs/Vulpkanin.xml
  Resources/ServerInfo/_StarLight/Guidebook/Mobs/Thaven.xml
Labels: S: Needs Review, size/M, Changes: C#, Branch: Starlight

#1687 fix webs evolving condition
  Content.Server/Spider/SpiderSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1673 Update Scurret to understand Galactic Common
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
Labels: Changes: No C#

#1683 [HOTFIX] Actually fixes Laser Carbines
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1552 Ranged/tweak
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1698 vulps can now get all the surgeries as expected.
  Resources/Prototypes/Body/Prototypes/vulpkanin.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1697 yes the cane is a cane
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cane_nt.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1701 Major SEC SOP, Rules, and Corporate law revisions
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL10.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL12.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL13.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL14.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL7.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL9.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/StarlightRules.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/Parole.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/PermitAcquisition.xml
Labels: S: Untriaged, Changes: No C#, size/M

#1702 Stable Patch
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/_Starlight/Antags/Actions/EMPScreamSystem.cs
  Content.Server/_Starlight/NPC/HTN/PrimitiveTasks/Operators/JumpOperator.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/_Starlight/Actions/Jump/JumpComponent.cs
  Content.Shared/_Starlight/Actions/Jump/SharedJumpSystem.cs
  Resources/Changelog/ChangelogStarlight.yml
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Locale/en-US/_Starlight/paper/doc-printer.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Body/Parts/cyberlimbs.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cane_nt.yml
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL10.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL12.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL13.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL14.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL7.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSL/CoreRules/RuleSL9.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/StarlightRules.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/Parole.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/PermitAcquisition.xml
Labels: S: Untriaged, S: Needs Review, Changes: C#

#1497 Adds Cluster Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Starlight/Shuttles/emergency_cluster.yml
  Resources/Maps/_Starlight/Stations/Cluster.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/cluster.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, Changes: C#

#1590 Proto 5x Visual/Objective Update
  Resources/Locale/en-US/_Starlight/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_StarLight/Objectives/thief.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/base-unshaded.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/disable-unshaded-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/disable-unshaded-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/disable-unshaded-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/disable-unshaded-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/disable-unshaded-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/disable-unshaded-5.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/disable.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/laser-unshaded-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/laser-unshaded-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/laser-unshaded-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/laser-unshaded-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/laser-unshaded-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/laser-unshaded-5.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/laser.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-5.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/mag-unshaded-5.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Battery/energy_smg.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1651 Event Scheduler Tweaks & Antag Commonality Tweaks
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1675 give xenoborgis eva suits and pet bags.
  Resources/Prototypes/_StarLight/Entities/Mobs/Cyborgs/borgi_chassis.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1546 Major Leth Update
  Resources/Maps/_Starlight/Stations/Leth.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/L

#1531 Access groups for Id console
  Content.Client/Access/UI/AccessLevelControl.xaml.cs
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/HSeparator.cs
  Content.Client/Administration/UI/CustomControls/VSeparator.cs
  Content.Client/Doors/Electronics/DoorElectronicsConfigurationMenu.xaml.cs
  Content.Client/_Starlight/Access/UI/AccessGroupControl.xaml
  Content.Client/_Starlight/Access/UI/AccessGroupControl.xaml.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Content.Shared/_Starlight/Access/SharedAccess.cs
  Resources/Prototypes/Access/misc.yml
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M, Changes: C#

#1641 Lube and Glue Grenades plus Recluse-class Ship
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Maps/_Starlight/Shuttles/RecluseClassSHC.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/hohohonkers.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/grenades.yml
  Resources/Prototypes/_StarLight/GameRules/confshuttles.yml
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/glue.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/glue.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/glue.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/glue.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/glue.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/glue.rsi/primed.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/lube.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/lube.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/lube.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/lube.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/lube.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Grenades/lube.rsi/primed.png
Labels: Changes: Sprites, Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#1575 Four New Accents. and One Expanded Upon
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/_Starlight/Speech/Components/ArchaicAccentComponent.cs
  Content.Server/_Starlight/Speech/Components/NerdAccentComponent.cs
  Content.Server/_Starlight/Speech/Components/PoliteAccentComponent.cs
  Content.Server/_Starlight/Speech/Components/ScottishAccentComponent.cs
  Content.Server/_Starlight/Speech/EntitySystems/ArchaicAccentSystem.cs
  Content.Server/_Starlight/Speech/EntitySystems/NerdAccentSystem.cs
  Content.Server/_Starlight/Speech/EntitySystems/PoliteAccentSystem.cs
  Content.Server/_Starlight/Speech/EntitySystems/ScottishAccentSystem.cs
  Resources/Locale/en-US/_Starlight/accent/archaic.ftl
  Resources/Locale/en-US/_Starlight/accent/nerd.ftl
  Resources/Locale/en-US/_Starlight/accent/polite.ftl
  Resources/Locale/en-US/_Starlight/accent/scottish.ftl
  Resources/Locale/en-US/_Starlight/administration/smites.ftl
  Resources/Locale/en-US/_Starlight/traits/accenttraits.ftl
  Resources/Locale/en-US/accent/pirate.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/_StarLight/Accents/word_replacements.yml
  Resources/Prototypes/_StarLight/Traits/accents.yml
  Resources/Textures/_Starlight/Interface/AdminActions/proper.png
Labels: S: Untriaged, S: Needs Review, size/L, Changes: C#

#1664 Orange Alert
  Resources/Audio/_Starlight/Misc/attributions.yml
  Resources/Audio/_Starlight/Misc/orange.ogg
  Resources/Locale/en-US/_Starlight/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/alert-levels.xml
  Resources/Textures/Structures/Wallmounts/screen.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/screen.rsi/orange.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S, Changes: Audio

#1705 SS14/stay starlight: Unlimited Clothing Works
  Resources/Locale/en-US/_Starlight/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/fashion.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/blueshield.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
Labels: Changes: No C#, S: Needs Review, size/M, Branch: Starlight

#1696 Thaven tweaks
  Content.Server/_Starlight/Thaven/ThavenMoodSystem.cs
  Content.Server/_Starlight/Thaven/ThavenMoodsCommands.cs
  Content.Shared/_Starlight/Thaven/SharedThavenMoodSystem.cs
  Content.Shared/_Starlight/Thaven/ThavenMoodsComponent.cs
  Resources/Locale/en-US/_Starlight/thavens/commands.ftl
Labels: S: Untriaged, S: Needs Review, Changes: C#

#1616 Ability to toggle bags to be click-to-open when equipped
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/_Starlight/Inventory/InventoryUseSlotEvent.cs
  Content.Shared/_Starlight/Inventory/SwitchableEquipModeComponent.cs
  Content.Shared/_Starlight/Inventory/SwitchableEquipModeSystem.cs
  Resources/Locale/en-US/_Starlight/inventory/equipmode.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1708 Fix vox colors
  Resources/Prototypes/Species/vox.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1618 NanoTrasen tophat
  Resources/Locale/en-US/_Starlight/preferences/loadout-groups.ftl
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Command/nanotrasenrepresentative.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_elite_tophat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_elite_tophat.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_elite_tophat.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_elite_tophat.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_elite_tophat.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_elite_tophat.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_tophat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_tophat.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_tophat.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_tophat.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_tophat.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/ntr_tophat.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#1579 small resprite and fix
  Resources/Locale/en-US/_Starlight/job/job.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/CentComm/operator.yml
  Resources/Prototypes/_StarLight/StatusIcon/job.yml
  Resources/Textures/Effects/portal.rsi/meta.json
  Resources/Textures/Effects/portal.rsi/portal-artifact.png
  Resources/Textures/Effects/portal.rsi/portal-blue.png
  Resources/Textures/Effects/portal.rsi/portal-green.png
  Resources/Textures/Effects/portal.rsi/portal-red.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/meta.json
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/meta.json
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/CentComm.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/CentCommOperator.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/o1.png
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/o2.png
  Resources/Textures/_Starlight/Objects/Power/power_cells.rsi/tiny.png
Labels: Changes: UI, Changes: Sprites, Changes: Map, Changes: No C#, S: Needs Review, size/M, Changes: C#

#1733 Fixes Build Map Test
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/_StarLight/Entities/Structures/Windows/directional_shuttle_window.yml
  Resources/Prototypes/_StarLight/Recipes/Crafting/Graphs/ripper_arms.yml
  Resources/Prototypes/_StarLight/Recipes/Crafting/ripper_arms.yml
Labels: S: Untriaged, S: Needs Review, size/S, Changes: C#

#1735 fix
  Resources/Prototypes/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/fashion.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Command/command.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Wildcards/reporter.yml
Labels: Changes: No C#, S: Needs Review, size/M

#1751 Fix actions cooldown
  Content.Shared/Actions/ActionEvents.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/_Starlight/Actions/EntitySystems/SharedJumpSystem.cs
Labels: S: Untriaged, S: Needs Review, Changes: C#

#1747 Gateway, an event only station, update
  Resources/Maps/_Starlight/Stations/Gateway.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#1748 Adds N2 canisters to job lockerfills, alongside the existing O2 canisters
  Resources/Prototypes/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/suit_storage.yml
Labels: Changes: No C#, S: Needs Review, size/S

#1746 NT Rep's Turtleneck
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Command/nanotrasenrepresentative.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/ntrepturtleneckskirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/ntrepturtleneckskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/ntrepturtleneckskirt.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/ntrepturtleneckskirt.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/ntrepturtleneckskirt.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/ntrepturtleneckskirt.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/ntrepformal.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/ntrepturtleneck.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/ntrepturtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/ntrepturtleneck.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/ntrepturtleneck.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/ntrepturtleneck.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/ntrepturtleneck.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#1716 Leth DeltaP and Weapons safe update
  Resources/Maps/_Starlight/Stations/Leth.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#1723 Vulps Custom Name - Fix
  Resources/Prototypes/Species/vulpkanin.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1722 Spawn Here / Clone - Fix
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/_Starlight/Character/Info/SLSharedCharacterInfoSystem.cs
Labels: S: Needs Review, size/S, Changes: C#

#1749 Shuttle disable command + Communication console countdowns
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/_Starlight/Administration/Systems/Commands/ShuttleCalls.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Resources/Locale/en-US/_Starlight/administration/commands/ShuttleCalls.ftl
Labels: Changes: UI, S: Needs Review, size/M, Changes: C#

#1754 Fix QM over ear headset
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1759 HOTFIX. Rules typo fix
  Resources/ServerInfo/Guidebook/ServerRules/StarlightRules.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#1758 HOTFIX. Chem Bags can no longer take Patch packs
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#1757 HOTFIX fixes for salvage rework
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Ears/headsets.yml
Labels: Changes: UI, Changes: Map, S: Needs Review, Changes: C#, Branch: Starlight

#1760 HOTFIX. Added Extended access's for Surgery, Robotics and Paramedic
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Medical/surgeon.yml
Labels: S: Untriaged, Changes: No C#, size/S

#1507 Small AI lawboard overhaul
  Content.Shared/Silicons/Laws/SiliconLawsetPrototype.cs
  Content.Shared/_Starlight/Silicons/Borgs/LawboardSystem.cs
  Resources/Locale/en-US/_Starlight/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_Starlight/materials/materials.ftl
  Resources/Locale/en-US/_Starlight/research/technologies.ftl
  Resources/Locale/en-US/_Starlight/station-laws/laws.ftl
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/law_boards.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/Circuitboards/Machine/law_boards.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Storage/crates.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/categories.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/circuitry.yml
  Resources/Prototypes/_StarLight/Research/experimental.yml
  Resources/Prototypes/_StarLight/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M, Changes: C#

#1773 Whitelist the Paddy to only use non-lethals.
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_StarLight/tags.yml
Labels: Changes: No C#, S: Needs Review, size/S, Branch: Starlight

#1770 (Silica) Fixes a floating camera
  Resources/Maps/_Starlight/Stations/Silica.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#1776 Fix uplink implant
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Server/_Starlight/Implants/USSPUplinkSystem.cs
  Content.Server/_Starlight/Implants/UplinkImplantSystem.cs
  Content.Shared/_Starlight/Actions/Events/OpenUplinkImplantEvent.cs
  Content.Shared/_Starlight/Implants/Components/UplinkImplantComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: S: Untriaged, S: Needs Review, size/M, Changes: C#

#1777 Paddy gets basic Lethals, actually.
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Melee/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_StarLight/tags.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#1771 Ntr monocle
  Resources/Prototypes/_StarLight/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Command/nanotrasenrepresentative.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Textures/_Starlight/Clothing/Eyes/Hud/ntrmonocle.rsi/equipped-EYES-dog.png
  Resources/Textures/_Starlight/Clothing/Eyes/Hud/ntrmonocle.rsi/equipped-EYES-moth.png
  Resources/Textures/_Starlight/Clothing/Eyes/Hud/ntrmonocle.rsi/equipped-EYES.png
  Resources/Textures/_Starlight/Clothing/Eyes/Hud/ntrmonocle.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Eyes/Hud/ntrmonocle.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Eyes/Hud/ntrmonocle.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Eyes/Hud/ntrmonocle.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Changes: Map, S: Untriaged, Changes: No C#, Changes: Audio, Changes: C#
