Repository ss14Starlight/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#727 Signed gamerules
  Content.Server/_Starlight/Paper/AntagOnSignComponent.cs
  Content.Server/_Starlight/Paper/AntagOnSignSystem.cs
  Content.Server/_Starlight/Paper/GameruleOnSignComponent.cs
  Content.Server/_Starlight/Paper/GameruleOnSignSytem.cs
  Resources/Locale/en-US/_Starlight/paper/events.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Paper/events.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_items.yml
Labels: S: Untriaged, S: Needs Review, size/M

#733 Fix announce2.ogg after merge
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#741 PKA Range Tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#747 New Lobby Art and Music
  Resources/Audio/_Starlight/Music/Lobby/attributions.yml
  Resources/Audio/_Starlight/Music/Lobby/echoes-in-the-deep.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_StarLight/lobbyscreens.yml
  Resources/Textures/_Starlight/LobbyScreens/attributions.yml
  Resources/Textures/_Starlight/LobbyScreens/reflection.webp
  Resources/Textures/_Starlight/LobbyScreens/reflection.webp.yml
  Resources/Textures/_Starlight/LobbyScreens/trieste-nt.webp
  Resources/Textures/_Starlight/LobbyScreens/trieste-nt.webp.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S, Changes: Audio

#746 fix reflector
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
Labels: S: Untriaged, size/S

#735 Saltern update
  Resources/Maps/_Starlight/Stations/Saltern.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/saltern.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#748 all the changes
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/ShadowBorgiGrid.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/robotics.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#749 You will die.
  Content.Server/NPC/Components/NPCUseActionOnTargetComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Shared/Procedural/SalvageDifficultyPrototype.cs
  Resources/Locale/en-US/_Starlight/procedural/expeditions.ftl
  Resources/Maps/_Starlight/Dungeon/soviet-warehouse.yml
  Resources/Prototypes/_StarLight/Enemies/Abyss.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Materials/misc.yml
  Resources/Prototypes/_StarLight/Procedural/Themes/soviet.yml
  Resources/Prototypes/_StarLight/Procedural/dungeon_configs.yml
  Resources/Prototypes/_StarLight/Procedural/dungeon_presets.yml
  Resources/Prototypes/_StarLight/Procedural/dungeon_room_packs.yml
  Resources/Prototypes/_StarLight/Procedural/salvage_difficulties.yml
  Resources/Prototypes/_StarLight/Procedural/salvage_factions.yml
  Resources/Prototypes/_StarLight/Procedural/salvage_loot_impossible.yml
  Resources/Prototypes/_StarLight/Procedural/salvage_mods.yml
  Resources/Prototypes/_StarLight/tags.yml
Labels: Changes: Map, S: Untriaged, size/XL

#721 Moth cake
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_StarLight/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_StarLight/Recipes/reactions.yml
  Resources/Textures/_Starlight/Objects/Consumable/Food/Custcake.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Consumable/Food/Custcake.rsi/mothbatter.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/Custcake.rsi/mothcake.png
  Resources/Textures/_Starlight/Objects/Consumable/Food/Custcake.rsi/mothcakeslice.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#738 Cyber arms now spawn with the hand attached by default.
  Content.Client/_Starlight/Medical/Surgery/SurgeryBui.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/_Starlight/Medical/Limbs/CyberLimbSystem.LimbWithItems.cs
  Content.Server/_Starlight/Medical/Limbs/LimbSystem.Functional.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Starlight/Medical/Limbs/SharedLimbSystem.cs
  Content.Shared/_Starlight/Medical/Limbs/WithAttachedBodyParts.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Starlight/StarlightEntitySystem.Singleton.cs
  Content.Shared/_Starlight/StarlightEntitySystem.cs
  Resources/Prototypes/_StarLight/Body/Parts/cyberlimbs.yml
  Resources/Prototypes/_StarLight/Body/Parts/vending.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/medical.yml
Labels: S: Untriaged, size/M

#760 Lingkiller Lobby Art
  Resources/Prototypes/_StarLight/lobbyscreens.yml
  Resources/Textures/_Starlight/LobbyScreens/attributions.yml
  Resources/Textures/_Starlight/LobbyScreens/thelingkiller.webp
  Resources/Textures/_Starlight/LobbyScreens/thelingkiller.webp.yml
Labels: S: Untriaged, Changes: No C#, size/S

#762 make the end of Q more fun for players and admins
  Content.Server/_Starlight/Paper/GameruleOnSignSytem.cs
  Resources/Locale/en-US/_Starlight/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_StarLight/Catalog/Fills/Paper/events.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#774 Lobber update
  Resources/Maps/_Starlight/Stations/Lobster.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review

#770 fix
  Content.Server/_Starlight/TextToSpeech/TTSSystem.cs
Labels: S: Untriaged, size/XS

#771 fix
  Resources/Prototypes/_StarLight/Procedural/salvage_factions.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#786 Syndi shadow factory update
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/ShadowBorgiGrid.yml
  Resources/Prototypes/_StarLight/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_StarLight/Shuttles/shuttles.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#783 Poster edits
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster29_legit.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#730 More brutal knuckleduster's sound
  Resources/Audio/_Starlight/Weapons/attributions.yml
  Resources/Audio/_Starlight/Weapons/knuckle1.ogg
  Resources/Audio/_Starlight/Weapons/knuckle2.ogg
  Resources/Audio/_Starlight/Weapons/knuckle3.ogg
  Resources/Audio/_Starlight/Weapons/knuckle4.ogg
  Resources/Audio/_Starlight/Weapons/knuckle5.ogg
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_StarLight/SoundCollections/knuckles.yml
Labels: S: Untriaged, Changes: No C#, size/S, Changes: Audio

#743 Mining Specialist / Space Hazard Suit
  Resources/Prototypes/_StarLight/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/miningspecialist.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/spacehazard.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/spacehazard.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/spacehazard.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/spacehazard.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/spacehazard.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/equipped-OUTERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/spacehazard.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#668 Adds a new station - Barratry
  Resources/Maps/_Starlight/Stations/Barratry.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/barratry.yml
Labels: Changes: Map, Changes: No C#, size/XL

#780 allow station AIs to be ionstormed 75% as often as borgs.
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#757 Saltern Patch
  Resources/Maps/_Starlight/Stations/Saltern.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#789 Kiloton Station
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/kiloton.yml
  Resources/Prototypes/_StarLight/Maps/retro.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#792 HOTFIX: Close the NewLife window upon selection.
  Content.Client/Lobby/UI/LateJoinGui.xaml.cs
  Content.Client/_Starlight/NewLife/NewLifeWindow.cs
Labels: Changes: UI, S: Untriaged

#799 hotfix
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: S: Untriaged, size/S

#802 Respawn/SpawnHere Admin Verb Changes
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/administration/ui/actions.ftl
Labels: S: Untriaged, S: Needs Review, size/S

#793 Cloud Emotes (Rework)
  Content.Client/Commands/ActionsCommands.cs
  Content.Client/Commands/AtmosDebugCommands.cs
  Content.Client/Commands/CreditsCommand.cs
  Content.Client/Commands/DebugCommands.cs
  Content.Client/Commands/DebugPathfindingCommand.cs
  Content.Client/Commands/GroupingEntityMenuCommand.cs
  Content.Client/Commands/HideMechanismsCommand.cs
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Content.Client/Commands/OpenAHelpCommand.cs
  Content.Client/Commands/SetMenuVisibilityCommand.cs
  Content.Client/Commands/ShowHealthBarsCommand.cs
  Content.Client/Commands/ToggleOutlineCommand.cs
  Content.Client/Commands/ZoomCommand.cs
  Content.Client/UserInterface/Systems/Emotes/EmotesUIController.cs
  Content.Client/_Starlight/CloudEmotes.cs
  Content.Client/_Starlight/CloudEmotes/CloudEmoteSystem.cs
  Content.Server/_Starlight/CloudEmotes/CloudEmoteSystem.cs
  Content.Server/_Starlight/CloudEmotes/Commands/CloudEmoteCommand.cs
  Content.Server/_Starlight/Commands/CloudEmotesCommand.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/_Starlight/CloudEmote/CloudEmoteActiveComponent.cs
  Content.Shared/_Starlight/CloudEmote/CloudEmotePhaseComponent.cs
  Content.Shared/_Starlight/CloudEmote/SharedCloudEmoteSystem.cs
  Content.Shared/_Starlight/CloudEmotes/CloudEmotePrototype.cs
  Content.Shared/_Starlight/CloudEmotes/CloudEmotesMessage.cs
  Resources/Locale/en-US/_Starlight/cloud-emotes/cloud-emotes.ftl
  Resources/Prototypes/_StarLight/Entities/Effects/cloud_emotes.yml
  Resources/Prototypes/_StarLight/cloudemotes.yml
  Resources/Textures/Effects/cloud_emotes.rsi/meta.json
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_abductor.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_amongus.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_cool.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_crying.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_dizzy.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_end.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_flustered.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_heart.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_huh.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_lenny.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_man.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_mark.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_nervous.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_no.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_owo.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_pause.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_question.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_shocked.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_sing.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_smile.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_smoile.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_snore.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_stare.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_start.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_weh.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_xp.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/emote_yes.png
  Resources/Textures/_Starlight/Effects/cloud_emotes.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#808 Dynamic job icon sizing in the lobby.
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml.cs
Labels: Changes: UI

#807 Xenowear
  Resources/Locale/en-US/_Starlight/forencics/fibers.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Shoes/clothwarps.yml
  Resources/Prototypes/_StarLight/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_StarLight/Recipes/Construction/Graphs/clothing/clothwarps.yml
  Resources/Prototypes/_StarLight/Recipes/Construction/clothing.yml
  Resources/Textures/_Starlight/Clothing/Neck/Mantles/oldmantle.rsi/equipped-NECK.png
  Resources/Textures/_Starlight/Clothing/Neck/Mantles/oldmantle.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Neck/Mantles/oldmantle.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/clothWrap.rsi/equipped-FEET.png
  Resources/Textures/_Starlight/Clothing/clothWrap.rsi/equipped-HAND.png
  Resources/Textures/_Starlight/Clothing/clothWrap.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/clothWrap.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#809 Update ChangelogStarlight.yml
  Resources/Changelog/ChangelogStarlight.yml
Labels: Changes: No C#, size/XS

#801 Ammo type examine
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Labels: S: Untriaged, S: Needs Review, size/S

#819 End of q more mystical
  Resources/Prototypes/_StarLight/Catalog/Fills/Paper/events.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#804 Adds a wielding requirement to the smart LMG
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
Labels: Changes: No C#, S: Needs Review

#794 john toe gun
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_StarLight/Polymorphs/polymorphs.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#758 SC17 Update 1.1
  Resources/Maps/_Starlight/Centcomms/CC_Outpost_SC17.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/L

#813 Changelog-Validator
  .github/workflows/changelog-validator.yml
  Tools/_Starlight/validate_changelog.py
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#784 NanoTrasen Clipboard for NTR, IAA, and Magi + NTR (Centcom-like) pen
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/folders.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Law/Magistrate.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Law/iaa.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/nanotrasenrepresentative.yml
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/clipboard.png
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/clipboard_over.png
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/clipboard_paper.png
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/clipboard_pen.png
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Misc/nt-clipboard.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/pens.rsi/pen_ntr-inhand-left.png
  Resources/Textures/_Starlight/Objects/Misc/pens.rsi/pen_ntr-inhand-right.png
  Resources/Textures/_Starlight/Objects/Misc/pens.rsi/pen_ntr.png
Labels: Changes: Sprites, Changes: No C#, size/S

#797 Abductor return pod fix
  Content.Shared/Containers/ExitContainerOnMoveSystem.cs
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#767 set or add objectives upon signing a paper.
  Content.Server/_Starlight/Paper/AntagOnSignSystem.cs
  Content.Server/_Starlight/Paper/ObjectiveOnSignComponent.cs
  Content.Server/_Starlight/Paper/ObjectiveOnSignSystem.cs
  Resources/Locale/en-US/_Starlight/delivery/delivery-spam.ftl
  Resources/Prototypes/Entities/Objects/Deliveries/letter_loot_tables.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/letter_loot_tables.yml
Labels: S: Untriaged, S: Needs Review, size/M

#785 revert the removal of closet skeleton.
  Resources/Prototypes/GameRules/events.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#803 Admin add all overlays trick
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Textures/_Starlight/Interface/AdminActions/ToggleOverlays.png
Labels: S: Untriaged, S: Needs Review, size/S

#701 Teach A Lesson Objective
  Content.Server/_Starlight/Objectives/Components/TeachALessonConditionComponent.cs
  Content.Server/_Starlight/Objectives/Components/TeachALessonTargetComponent.cs
  Content.Server/_Starlight/Objectives/Systems/TeachALessonConditionSystem.cs
  Resources/Locale/en-US/_Starlight/objectives/conditions/teach-a-lesson.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_StarLight/Objectives/base_objectives.yml
  Resources/Prototypes/_StarLight/Objectives/traitor.yml
Labels: S: Untriaged, S: Needs Review, size/M

#827 Nukie Outpost Changes
  Resources/Maps/_Starlight/nukieplanet.yml
Labels: Changes: Map, Changes: No C#

#841 Resomi are no longer jetpacks
  Content.Shared/_Starlight/Actions/Jump/JumpComponent.cs
  Content.Shared/_Starlight/Actions/Jump/JumpSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: S: Untriaged, S: Needs Review, size/XS

#836 Contra Severity Update
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
Labels: Changes: No C#, S: Needs Review, size/S

#834 NT-CC Consortium Gear
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_hardsuit_helmet.rsi/icon-flash.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_hardsuit_helmet.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_hardsuit_helmet.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_hardsuit_helmet.rsi/off-equipped-HELMET-resomi.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_hardsuit_helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_hardsuit_helmet.rsi/on-equipped-HELMET-resomi.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_hardsuit_helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/ntcc_helmet.rsi/equipped-HELMET-resomi.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/ntcc_helmet.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/ntcc_helmet.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/ntcc_helmet.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/ntcc_helmet.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Helmets/ntcc_helmet.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_hardsuit.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_hardsuit.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_hardsuit.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_hardsuit.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_hardsuit.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Vests/ntcc_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Vests/ntcc_vest.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Vests/ntcc_vest.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Vests/ntcc_vest.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Vests/ntcc_vest.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/ntcc_fatigues.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/ntcc_fatigues.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/ntcc_fatigues.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/ntcc_fatigues.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/ntcc_fatigues.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Devices/pda.rsi/pda-ntcc-cs.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#734 Station AI default lawset change
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#842 Revert Wizden cargo food adjustments
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/migration.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#837 Changed cost of Accentless to 1 (it should apparently be 0??)
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/speech.yml
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#843 Change roboticist outfit selection
  Resources/Locale/en-US/_Starlight/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Science/roboticist.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#847 Salv contra update
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/lock.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Shoes/magboots-bso.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/Baked/vulpkanin.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Abductor/tools.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/handheld_brigmedic_crew_monitor.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Medical/handheld_bso_crew_monitor.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/engi.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Magazines/battery.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/pistol.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/shotgun.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Basic/crossbow.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/cane_nt.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/silencer.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Melee/wonderprod.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_StarLight/Entities/Objects/base_contraband.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Rifles/arg.rsi/meta.json
Labels: S: Untriaged, Changes: No C#, size/M

#850 fixed a scrubber, added a firelock.
  Resources/Maps/_Starlight/Stations/Reach.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#855 Amali Plushie
  Resources/Locale/en-US/_Starlight/plushies/amali_plushie.ftl
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/amali_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/amali_plushie.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#814 El Gorilla Update
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/_Starlight/Implants/MagillitisSerumImplantEvent.cs
  Resources/Audio/_Starlight/Voice/attributions.yml
  Resources/Audio/_Starlight/Voice/gorilla.ogg
  Resources/Locale/en-US/_Starlight/implant/implant.ftl
  Resources/Locale/en-US/_Starlight/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_StarLight/Actions/implant.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Damage/modifier_sets.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/NPCs/gorilla.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_StarLight/Voice/speech_sounds.yml
  Resources/Prototypes/_StarLight/ai_factions.yml
  Resources/Prototypes/_StarLight/polymorph.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_crawling.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_dead.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_icon.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/cargo_standing.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/meta.json
  Resources/Textures/_Starlight/Actions/implants.rsi/gorilla_rampage.png
  Resources/Textures/_Starlight/Actions/implants.rsi/meta.json
  Resources/_Starlight/migration.yml
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/L, Changes: Audio

#849 Nukies timereqs
  Resources/Locale/en-US/_Starlight/plushies/op_plushie.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#858 Plushie fix.
  Resources/Locale/en-US/_Starlight/plushies/emmie_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/morgana_plushie.ftl
  Resources/Locale/en-US/_Starlight/plushies/trystan_plushie.ftl
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushie_datasets.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#862 PR that lets you shut up medibots
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#864 Replaced brigmedic locker. added fashion-o-mat and Honk dispensers.
  Resources/Maps/_Starlight/Stations/Omega.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#866 Update ScarletNukieWarShip.yml
  Resources/Prototypes/_StarLight/GameRules/ScarletNukieWarShip.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#779 Cargo Expedition Radio - Handheld radio but for salvage & miners!
  Resources/Locale/en-US/_Starlight/headset/headset-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/miningspecialist.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_StarLight/radio_channels.yml
  Resources/Textures/_Starlight/Objects/Devices/expeditionhandy.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Devices/expeditionhandy.rsi/walkietalkie-inhand-left.png
  Resources/Textures/_Starlight/Objects/Devices/expeditionhandy.rsi/walkietalkie-inhand-right.png
  Resources/Textures/_Starlight/Objects/Devices/expeditionhandy.rsi/walkietalkie-off.png
  Resources/Textures/_Starlight/Objects/Devices/expeditionhandy.rsi/walkietalkie-on.png
  Resources/Textures/_Starlight/Objects/Devices/expeditionhandy.rsi/walkietalkie.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#880 Rechargers can once again charge power cells
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#877 Cyborg Medals
  Resources/Prototypes/InventoryTemplates/borg.yml
Labels: S: Untriaged, Changes: No C#, size/S

#815 replace the shuttle with the raven shuttle
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/ShadowBorgiGrid.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_StarLight/GameRules/unknown_shuttles.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#886 Cargo Expedition Radio - add to salvage borg mining modules
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#891 fixed aghost inventory
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: Changes: No C#, S: Needs Review

#895 Silicon faction/fixing zombie AI
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_StarLight/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#776 nostampnostamp (Brig/BSO stamp addition)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/representatives.yml
  Resources/Prototypes/_StarLight/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-brigmedic.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-bso.png
  Resources/Textures/_Starlight/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/stamps.rsi/stamp-brigmedic.png
  Resources/Textures/_Starlight/Objects/Misc/stamps.rsi/stamp-bso.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#900 Avali Survival Box Fix
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#901 Temp value fixed on vulp
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/vulpkanin.yml
Labels: S: Untriaged, Changes: No C#

#905 Fix stasis animation being shared for all Avali
  Content.Client/_Starlight/Actions/Stasis/StasisSystem.cs
  Content.Shared/_Starlight/Actions/Stasis/StasisComponent.cs
Labels: S: Untriaged, S: Needs Review, size/M

#907 Revert: Borgs require prying to open
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#904 Syndieborg tweaks
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#911 Update the state of the ready up button after dragging priorities.
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/S

#820 Adds the snub-nose revolver
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Revolvers/snub.rsi/bolt-open.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Revolvers/snub.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Revolvers/snub.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Revolvers/snub.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Revolvers/snub.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Revolvers/snub.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Revolvers/snub.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#817 Kasane teto
  Resources/Prototypes/_TP/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_TP/Entities/Clothing/Shoes/Boots/boots.yml
  Resources/Prototypes/_TP/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/_TP/Clothing/Shoes/Boots/TP14darkperformer.rsi/equipped-FEET.png
  Resources/Textures/_TP/Clothing/Shoes/Boots/TP14darkperformer.rsi/icon.png
  Resources/Textures/_TP/Clothing/Shoes/Boots/TP14darkperformer.rsi/meta.json
  Resources/Textures/_TP/Clothing/Uniforms/Jumpskirt/TP14darkperformer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_TP/Clothing/Uniforms/Jumpskirt/TP14darkperformer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_TP/Clothing/Uniforms/Jumpskirt/TP14darkperformer.rsi/icon.png
  Resources/Textures/_TP/Clothing/Uniforms/Jumpskirt/TP14darkperformer.rsi/inhand-left.png
  Resources/Textures/_TP/Clothing/Uniforms/Jumpskirt/TP14darkperformer.rsi/inhand-right.png
  Resources/Textures/_TP/Clothing/Uniforms/Jumpskirt/TP14darkperformer.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#881 Ntcc medics
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_med_hardsuit_helmet.rsi/icon-flash.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_med_hardsuit_helmet.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_med_hardsuit_helmet.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_med_hardsuit_helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hardsuits/ntcc_med_hardsuit_helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_med_hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_med_hardsuit.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_med_hardsuit.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_med_hardsuit.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/ntcc_med_hardsuit.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#917 Fix error were Avali could become invisible for some people
  Content.Client/_Starlight/Actions/Stasis/StasisSystem.cs
  Content.Server/_Starlight/Actions/Stasis/StasisSystem.cs
  Content.Shared/_Starlight/Actions/Stasis/StasisComponent.cs
Labels: S: Untriaged, S: Needs Review, size/S

#764 Markings add emotes.
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Content.Shared/Speech/SpeechComponent.cs
  Content.Shared/Speech/SpeechSystem.cs
  Content.Shared/_Starlight/Markings/MarkingEmoteData.cs
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: S: Untriaged, S: Needs Review, size/M

#936 Corporate Law Update
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#925 Starlight multi slot updates -- many round start "stuck in lobby" fixes
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Shared/Preferences/PlayerPreferences.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
Labels: S: Untriaged, S: Needs Review, size/M

#921 Hime cut with tails hairstyle
  Resources/Locale/en-US/_Starlight/accessories/human-hair.ftl
  Resources/Prototypes/_StarLight/Entities/Mobs/Customization/Marking/human_hair.yml
  Resources/Textures/_Starlight/Mobs/Customization/human_hair.rsi/himecutwithtails.png
  Resources/Textures/_Starlight/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S
