Repository ss14Starlight/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#570 PR Auto Assign
  .github/workflows/auto-assign.yml
Labels: Changes: No C#, S: Needs Review, size/S

#557 vampires are low impact. add more vampires.
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#564 woe shadow borgi ops upon ye.
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Maps/_Starlight/Shuttles/ShuttleEvent/ShadowBorgiGrid.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borgi_chassis.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_StarLight/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_StarLight/Shuttles/shuttles.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Map, Changes: No C#, size/L

#569 Heart Extractor Admin Log
  Content.Server/_Starlight/Antags/Abductor/EntitySystems/AbductorSystem.Extractor.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#568 peaceful round end exceptions
  Content.Server/_Starlight/GameTicking/GameTicker.PeacefulRoundEnd.cs
  Content.Shared/Chemistry/EntitySystems/RehydratableSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#575 fix announce2 volume
  Resources/Audio/_Starlight/Announcements/announce2.ogg
Labels: S: Untriaged, Changes: No C#, size/XS, Changes: Audio

#577 Organ tree missing text
  Resources/Locale/en-US/_Starlight/seeds/seeds.ftl
  Resources/Prototypes/_StarLight/Entities/Objects/Specific/Hydroponics/seeds.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#597 Surgeon Actions pop up
  Content.Shared/_Starlight/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
Labels: S: Untriaged, S: Needs Review, size/S

#601 Mech air fix
  Content.Server/Construction/Completions/BuildMech.cs
  Content.Server/Mech/Systems/MechSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#592 Several mech-related fixes.
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/durand_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/gygax_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/hamtr_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/ripleymkii_construction.yml
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/clarke.rsi/clarke_l_arm.png
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/clarke.rsi/clarke_r_arm.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#604 Resomi Sprites for Security Vests
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/heatabsorbent.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/platecarrier.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/stabvest.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#605 NT sponsored, experimental botany shuttle
  Resources/Maps/_Starlight/Shuttles/NT-Experimental-Botany-shuttle.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#599 Port signing system from Sector-Umbra
  Content.Client/Paper/UI/StampCollection.xaml.cs
  Content.Client/Paper/UI/StampWidget.xaml.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Fonts/_Starlight/Signature.ttf
  Resources/Locale/en-US/_Starlight/paper/paper-component.ftl
  Resources/Prototypes/_StarLight/fonts.yml
Labels: Changes: UI, size/M

#607 Update mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#606 Exosuit upgrade fix
  Content.Server/_Starlight/Construction/Completions/TransformMech.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_StarLight/Recipes/Construction/Graphs/Mechs/ripleymkii_upgrade_construction.yml
Labels: S: Untriaged, S: Needs Review, size/M

#608 Ripley upgrading hotfix!
  Content.Server/Construction/Completions/BuildMech.cs
Labels: S: Untriaged, S: Needs Review, size/S

#617 adding thrusters to gygax
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#621 Framework to fix Resomi clothing
  Resources/Prototypes/Entities/Mobs/Species/resomi.yml
  Resources/Textures/Mobs/Species/Resomi/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Resomi/displacement.rsi/outerClothing.png
Labels: Changes: Sprites, Changes: No C#

#614 polymorphs nolonger cryosleep you if you are polymorphed for too long
  Content.Server/Polymorph/Components/PolymorphedEntityComponent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/_Starlight/CryoTeleportation/CryoTeleportationSystem.cs
  Content.Server/_Starlight/Polymorph/Components/UncryoableComponent.cs
Labels: S: Untriaged, S: Needs Review, size/S

#627 Removal of color restrictions
  Content.Shared/Humanoid/SkinColor.cs
Labels: S: Untriaged, S: Needs Review, size/S

#626 Cat markings for humans
  Resources/Prototypes/Species/human.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#618 Change ripley upgrade cost.
  Resources/Prototypes/_StarLight/Recipes/Lathes/mech_parts.yml
Labels: Changes: No C#, S: Needs Review

#613 Removing Mech Light powerdraw.
  Content.Server/Mech/Systems/MechSystem.cs
Labels: S: Untriaged, Changes: No C#, size/S

#611 Changes some weapons to by pump action
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#644 Fix BSO and NTR playtime reqs
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/blueshield.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/nanotrasenrepresentative.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#640 Resomi Texture Fixes
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/meta.json
  Resources/Textures/Mobs/Species/Resomi/displacement.rsi/inHand.png
  Resources/Textures/Mobs/Species/Resomi/displacement.rsi/jumpsuit.png
  Resources/Textures/Mobs/Species/Resomi/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Resomi/displacement.rsi/outerClothing.png
  Resources/Textures/Mobs/Species/Resomi/displacement.rsi/suitStorage.png
  Resources/Textures/Mobs/Species/Resomi/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Resomi/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Resomi/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Resomi/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Resomi/parts.rsi/r_hand.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/blueshield.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/blueshield.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#620 starlightified omega post-dept econ and all that jazz
  Resources/Maps/_Starlight/Stations/Omega.yml
  Resources/Prototypes/Maps/omega.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#651 Felinoid space cleaner hiss fix
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/felionoid.yml
Labels: Changes: No C#, S: Needs Review

#655 Pick-up-able monkeys and kobolds
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#612 Revamped Nukie Planet/Outpost!
  Resources/Maps/_Starlight/nukieplanet.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#616 Update existing printer documents
  Resources/Locale/en-US/_Starlight/paper/doc-printer.ftl
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#652 Added emaggable chefvend to dispense illegal foods
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#659 Nanotrasen-Central Command Consortium Officer
  Resources/Locale/en-US/_Starlight/ghost/ghost-gui.ftl
  Resources/Locale/en-US/_Starlight/job/job-desc.ftl
  Resources/Locale/en-US/_Starlight/job/job.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/CentComm/ntccblueshield.yml
  Resources/Prototypes/_StarLight/Roles/play_time_trackers.yml
Labels: S: Untriaged, Changes: No C#, size/M

#658 aghost drip
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: Changes: No C#, S: Needs Review

#646 Elite suit rebalancing
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#586 Chem master
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/S

#615 Add Panda Plushie (Sprite by @_polaris_)
  Resources/Audio/_Starlight/Items/Toys/attributions.yml
  Resources/Audio/_Starlight/Items/Toys/panda_noise1.ogg
  Resources/Audio/_Starlight/Items/Toys/panda_noise2.ogg
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Starlight/Objects/Fun/Plushies/mozan_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/mozan_plushie.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/mozan_plushie.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/mozan_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/Plushies/panda_plushie.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/panda_plushie.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/panda_plushie.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Fun/Plushies/panda_plushie.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M, Changes: Audio

#665 Makes Smart LMG mags 2x2
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle_heavy.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#677 Surgery no longer makes numb individuals scream
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
Labels: S: Untriaged, S: Needs Review, size/S

#669 Slightly alter wizard shuttle
  Resources/Maps/Shuttles/wizard.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/M

#671 L6 China Lake Price Swap
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#664 Added MK58 and SP Ammo to Sec Officer and Brigmedic loadouts
  Resources/Locale/en-US/_Starlight/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Security/brigmedic.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#678 Clothing price rework
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/fashion.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/M

#657 Syndicate QoL by Western
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/StatusIcon/job.yml
  Resources/Textures/Objects/Devices/pda.rsi/pda-syndi-agent.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-syndi.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/Commander.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/Operative.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateAgent.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Devices/pda.rsi/pda-commander.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idcommander.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idoperative.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idsyndiagent.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/syndi.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#650 add pawbs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/black-equipped-HAND.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/black.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/black_white-equipped-HAND.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/black_white.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/brown-equipped-HAND.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/brown.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/white-equipped-HAND.png
  Resources/Textures/_Starlight/Clothing/Hands/Gloves/paws.rsi/white.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#676 Let vulps yip
  Resources/Audio/_Starlight/Effects/attributions.yml
  Resources/Audio/_Starlight/Effects/yip.ogg
  Resources/Changelog/ChangelogStarlight.yml
  Resources/Locale/en-US/_Starlight/chat/emotes.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/Voice/speech_verbs.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_StarLight/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/Voice/speech_emotes.yml
Labels: Changes: No C#, size/S, Changes: Audio

#622 Update's brigmeds headset sprite
  Resources/Textures/Clothing/Ears/Headsets/brigmedic.rsi/icon.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#684 Sprite update - requested by bort
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/Commander.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/Operative.png
  Resources/Textures/_Starlight/Interface/Misc/job_icons.rsi/SyndicateAgent.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idcommander.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idoperative.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idsyndiagent.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review

#689 Add Nukie Outpost ID and Warp Point
  Resources/Maps/_Starlight/nukieplanet.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/M

#686 ERT and Pirate Access Breakers
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/AccessOverider.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/pirate_breaker.yml
  Resources/Textures/_Starlight/Objects/Tools/AccessOverider.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Tools/AccessOverider.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Tools/AccessOverider.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Tools/AccessOverider.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Tools/AccessOverider.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Tools/pirate_breaker.rsi/equipped-BELT.png
  Resources/Textures/_Starlight/Objects/Tools/pirate_breaker.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Tools/pirate_breaker.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Tools/pirate_breaker.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Tools/pirate_breaker.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#681 Paddy upgrade
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mechs.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/exosuit_components.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/_StarLight/Recipes/Construction/Graphs/Mechs/paddy_upgrade_construction.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/_StarLight/Research/arsenal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/paddy.rsi/base-broken.png
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/paddy.rsi/base-empty.png
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/paddy.rsi/base-open.png
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/paddy.rsi/base-sirens.png
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/paddy.rsi/base.png
  Resources/Textures/Objects/Specific/Mech/Mechs/Basic/paddy.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#703 Cat Tail fix for humans
  Resources/Prototypes/Species/human.yml
  Resources/Textures/Mobs/Customization/cat_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/cat_parts.rsi/tail_cat.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#712 Money now appears on the ATM instead of the AI core.
  Content.Server/_Starlight/Economy/Atm/ATMSystem.cs
  Content.Shared/_Starlight/Economy/Atm/ATMComponent.cs
Labels: S: Untriaged, S: Needs Review, size/S

#700 ripleymk2 construction fix
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#693 Weh-pet instrument
  Resources/Audio/MidiCustom/_Starlight/space-station-14.sf2
  Resources/Audio/MidiCustom/space-station-14.sf2
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Textures/_Starlight/Objects/Fun/Instruments/wehpet.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Fun/Instruments/wehpet.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Fun/Instruments/wehpet.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Fun/Instruments/wehpet.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#691 Posters! 22 of them!
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster36_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster4_contraband.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/calendar.rsi/calendar.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/calendar.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/cleanhands.rsi/cleanhands.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/cleanhands.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/coordsdo.rsi/coordsdo.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/coordsdo.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/coordsdont.rsi/coordsdont.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/coordsdont.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/dayssincefluke.rsi/dayssincefluke.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/dayssincefluke.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/eyechart.rsi/eyechart.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/eyechart.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/fents.rsi/fents.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/fents.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/flukies.rsi/flukies.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/flukies.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/forumpost.rsi/forumpost.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/forumpost.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/haveuseendisman.rsi/haveuseendisman.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/haveuseendisman.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/illuminate.rsi/illuminate.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/illuminate.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/insulsfromheaven.rsi/insulsfromheaven.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/insulsfromheaven.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/johntoewatned.rsi/johntoewanted.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/johntoewatned.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/juantoewanted.rsi/juantoewanted.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/juantoewanted.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/killemall.rsi/killemall.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/killemall.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/killersclinic.rsi/killersclinic.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/killersclinic.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/lawadvert.rsi/lawadvert.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/lawadvert.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/lnuglorf.rsi/lnuglorf.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/lnuglorf.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/maxcap.rsi/maxcap.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/maxcap.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/renaissancefair.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/renaissancefair.rsi/renaissancefair.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/ripleycertified.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/ripleycertified.rsi/ripleycertified.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/robird.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/robird.rsi/robird.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/robust.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/robust.rsi/robust.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/shoeless.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/shoeless.rsi/shoeless.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/skillissue.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/skillissue.rsi/skillissue.png
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/youtoolpia.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/posters/youtoolpia.rsi/youtoolpia.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#680 Signed antags
  Content.Server/_Starlight/Paper/AntagOnSignComponent.cs
  Content.Server/_Starlight/Paper/AntagOnSignSystem.cs
  Content.Shared/Paper/PaperComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Resources/Locale/en-US/_Starlight/delivery/delivery-spam.ftl
  Resources/Locale/en-US/delivery/delivery-spam.ftl
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/Entities/Objects/Deliveries/letter_loot_tables.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Deliveries/letter_loot_tables.yml
Labels: S: Untriaged, S: Needs Review, size/M

#718 Hotfix: fixes omega
  Resources/Maps/_Starlight/Stations/Omega.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#720 Ported existing inhand-sprites for magazines as placeholders
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/inhand-left-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/inhand-left-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/inhand-right-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/inhand-right-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_heavy.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/inhand-left-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/inhand-left-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/inhand-right-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/inhand-right-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/m-52.rsi/inhand-left-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/m-52.rsi/inhand-left-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/m-52.rsi/inhand-right-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/m-52.rsi/inhand-right-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/m-52.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/uzi.rsi/inhand-left-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/uzi.rsi/inhand-left-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/uzi.rsi/inhand-right-mag.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/uzi.rsi/inhand-right-stripe.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/SMGs/uzi.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#710 No longer hit ourselves if the target is too close to the shooter.
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: S: Untriaged, size/S

#719 Fix Lobster
  Resources/Maps/_Starlight/Stations/Lobster.yml
Labels: Changes: Map, Changes: No C#, size/M

#723 Case insen fix
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/Instruments/instruments_misc.yml
Labels: Changes: No C#, size/XS

#726 fix species speeds
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Movement/Components/MovementBodyPartComponent.cs
  Resources/Prototypes/_StarLight/Body/Parts/cyberlimbs.yml
  Resources/Prototypes/_StarLight/Body/Parts/cyclorite.yml
  Resources/Prototypes/_StarLight/Body/Parts/felionoid.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/cyclorites.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/felionoid.yml
Labels: S: Untriaged, S: Needs Review, size/S

#714 Nukie Oupost Fix AGAIN!
  Resources/Maps/_Starlight/nukieplanet.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/S
