Repository ss14Starlight/space-station-14, pull requests merged in 2025-02, with the labels that each got.

#274 Adds a new station - Lobster Station!
  Resources/Maps/_Starlight/Stations/Lobster.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/lobster.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#278 fix
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#280 Map Fixes - Lobster Station
  Resources/Maps/_Starlight/Stations/Lobster.yml
  Resources/Prototypes/_StarLight/Maps/lobster.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#284 secret
  Resources/Prototypes/secret_weights.yml
Labels: S: Untriaged

#285 Added in the missing files from the Wiki for the SOP
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/StarlightSOP/CommandSOP/ai.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CommandSOP/captain.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CommandSOP/command-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CommandSOP/general-command-staff.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/alert-levels.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/code-blue.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/code-delta.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/code-gamma.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/code-green.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/code-red.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/code-violet.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/Alerts/code-yellow.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/EmergencySOPs/emergency-response-teams.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/EmergencySOPs/emergency-shuttle.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/EmergencySOPs/emergency-sops.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/MiscellaneousClarifications/command-clarifications.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/MiscellaneousClarifications/line-of-succesion.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/MiscellaneousClarifications/miscellaneous-clarifications.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/cause-for-demotion.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/firing-demotion-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/hiring-transfer-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/money-accounts-and-space-credits.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/nanotrasen-staff-handling-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/vote-of-no-confidence.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NonCrewPolicies/docking-and-visitors.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NonCrewPolicies/non-crew-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NonCrewPolicies/vessels.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/general-sop-intro.xml
Labels: Changes: No C#, size/M

#282 Lobster Station tweaks
  Resources/Maps/_Starlight/Stations/Lobster.yml
  Resources/Prototypes/_StarLight/Maps/lobster.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/M

#287 Hotel Edits - AI Core
  Resources/Maps/_Starlight/Stations/Hotel.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#293 cyclorite's night vision
  Content.Client/_Starlight/Overlay/Cyclorites/CycloritesVisionOverlay.cs
  Content.Client/_Starlight/Overlay/Cyclorites/CycloritesVisionSystem.cs
  Content.Shared/_Starlight/Overlay/CycloritesVision/CycloritesVisionComponent.cs
  Resources/Prototypes/_StarLight/Entities/Effects/night_vision.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/cyclorites.yml
  Resources/Prototypes/_StarLight/Shaders/shaders.yml
  Resources/Textures/_Starlight/Shaders/cyclorite.swsl
Labels: S: Untriaged, size/M, Changes: Shaders

#295 surgery refucktoring
  Content.Server/_Starlight/Medical/Surgery/ImplantSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgeryOrganSystem.cs
  Content.Server/_Starlight/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Shared/_Starlight/Medical/Surgery/Components/_Organs.cs
  Content.Shared/_Starlight/Medical/Surgery/Events/SurgeryOrganImplantationCompleted.cs
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/eyes.png
  Resources/Textures/_Starlight/Mobs/Species/Cyberlimbs/parts.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#296 Fix
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#291 added descriptions for all the added SOP main sections.
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/EmergencySOPs/emergency-sops.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/MiscellaneousClarifications/miscellaneous-clarifications.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/nanotrasen-staff-handling-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NonCrewPolicies/non-crew-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/general-sop-intro.xml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/S

#300 reach
  Resources/Maps/_Starlight/Stations/Reach.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/reach.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#302 Resprites the sec LMG
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/base.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/bolt-open.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#, size/XS

#301 Add new brigmedic bedsheet
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/bedsheets.yml
  Resources/Textures/Clothing/Neck/Bedsheets/brigmedic.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Neck/Bedsheets/brigmedic.rsi/equipped-NECK.png
  Resources/Textures/_Starlight/Clothing/Neck/Bedsheets/brigmedic.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Neck/Bedsheets/brigmedic.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Neck/Bedsheets/brigmedic.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/bedsheets.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Misc/bedsheets.rsi/sheetbrigmedicstrange.png
Labels: Changes: Sprites, Changes: No C#, size/S

#297 Makes Lobster truly highpop
  Resources/Prototypes/_StarLight/Maps/lobster.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#314 fix abductor
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: S: Untriaged, size/XS

#315 hristov
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Weapons/Ranged/HitscanPrototype.cs
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Textures/_Starlight/Shaders/thermal-screen.swsl
Labels: S: Untriaged, size/S, Changes: Shaders

#305 Added place holder entries into the guidebook sop section for all departments
  Resources/Locale/en-US/_Starlight/guidebook/guides.ftl
  Resources/Prototypes/_StarLight/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/StarlightSOP/CargoSOP/cargo-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/CommandSOP/command-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/EngineeringSOP/engineering-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/EmergencySOPs/emergency-sops.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/MiscellaneousClarifications/miscellaneous-clarifications.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NanotrasenStaffHandlingPolicies/nanotrasen-staff-handling-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/GeneralSOP/NonCrewPolicies/non-crew-policies.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/LegalSOP/legal-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/MedicalSOP/medical-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/NanoTrasenEmployeeSOP/nano-trasen-employee-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/ScienceSOP/science-sop-intro.xml
  Resources/ServerInfo/Guidebook/StarlightSOP/SecuritySOP/security-sop-intro.xml
Labels: Changes: No C#, size/M

#317 M492 Resprite
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/base.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/bolt-open.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/equipped-BACKPACK.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-0.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/mag-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/wielded-inhand-left.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/LMGs/M492.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#318 Mech impove
  Content.Client/Mech/MechSystem.cs
  Content.Client/Mech/Ui/MechBoundUserInterface.cs
  Content.Client/Mech/Ui/MechMenu.xaml
  Content.Client/Mech/Ui/MechMenu.xaml.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGunSystem.cs
  Content.Server/Mech/Systems/MechEquipmentSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/MechUI.cs
  Content.Shared/Mech/SharedMech.cs
  Content.Shared/Repairable/RepairableComponent.cs
  Content.Shared/Repairable/SharedRepairableSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Audio/Mecha/critdestr.ogg
  Resources/Audio/Mecha/critdestrnano.ogg
  Resources/Audio/Mecha/critdestrsyndi.ogg
  Resources/Audio/Mecha/critnano.ogg
  Resources/Audio/Mecha/imag_enh.ogg
  Resources/Audio/Mecha/imag_enhnano.ogg
  Resources/Audio/Mecha/imag_enhsyndi.ogg
  Resources/Audio/Mecha/internaldmgalarm.ogg
  Resources/Audio/Mecha/longnanoactivation.ogg
  Resources/Audio/Mecha/longsyndiactivation.ogg
  Resources/Audio/Mecha/lowpower.ogg
  Resources/Audio/Mecha/lowpowernano.ogg
  Resources/Audio/Mecha/lowpowersyndi.ogg
  Resources/Audio/Mecha/mechambience.ogg
  Resources/Audio/Mecha/mechdrill.ogg
  Resources/Audio/Mecha/mechmove01.ogg
  Resources/Audio/Mecha/mechmove04.ogg
  Resources/Audio/Mecha/mechturn.ogg
  Resources/Audio/Mecha/nominal.ogg
  Resources/Audio/Mecha/nominalnano.ogg
  Resources/Audio/Mecha/nominalsyndi.ogg
  Resources/Audio/Mecha/powerup.ogg
  Resources/Audio/Mecha/skyfall_power_up.ogg
  Resources/Audio/Mecha/weapdestr.ogg
  Resources/Audio/Mecha/weapdestrnano.ogg
  Resources/Audio/Mecha/weapdestrsyndi.ogg
  Resources/Prototypes/Actions/mech.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M, Changes: Audio

#319 Lore Date Fix
  Content.Shared/_Starlight/Time/SharedTimeSystem.cs
Labels: S: Untriaged, S: Needs Review, size/XS

#309 Map Edits - Hotel and Lobster Station
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Maps/_Starlight/Stations/Lobster.yml
  Resources/Prototypes/_StarLight/Maps/lobster.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review

#321 Allow the eye to interact across maps.
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: S: Untriaged, size/XS

#324 5 new plushies :3
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/ignis_plush.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/jess_plushie.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/saltho_plush.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/siffy_plush.png
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/stinky_plush.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#328 Mech impove(Part 2)
  Content.Client/Mech/MechSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Mech/Components/MechThrustersComponent.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/SharedMech.cs
  Resources/Prototypes/Actions/mech.yml
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/exosuit_components.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_siren_off.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_siren_on.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#329 Radiation Nerf
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Structures/Walls/meteor.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review, size/XS

#330 Lobster Station Edits - Engineering and population
  Resources/Maps/_Starlight/Stations/Lobster.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/lobster.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL

#326 Addition of the role Mining Specialist
  Resources/Locale/en-US/_Starlight/job/job-desc.ftl
  Resources/Locale/en-US/_Starlight/job/job.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_StarLight/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Cargo/mining_specialist.yml
  Resources/Prototypes/_StarLight/Roles/play_time_trackers.yml
  Resources/Prototypes/_StarLight/Roles/salaries.yml
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/mining.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/mining.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/mining.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/mining.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/mining.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/mining.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/mining.rsi/rolled-equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Devices/pda.rsi/pda-mining.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/idstationminer.png
  Resources/Textures/_Starlight/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/M

#332 Brigmedic Alternative Clothes
  Resources/Prototypes/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Starlight/Clothing/Head/Hats/beret_corpsman.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/beret_corpsman.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/beret_corpsman.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/beret_corpsman.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Head/Hats/beret_corpsman.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/corpsman.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/corpsman.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/corpsman.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/corpsman.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Coats/corpsman.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/corpsman.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/corpsman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/corpsman.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/corpsman.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/corpsman.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpskirt/corpsman.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/corpsman.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/corpsman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/corpsman.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/corpsman.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/corpsman.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/Uniforms/Jumpsuit/corpsman.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#334 Mech NightVision Module
  Content.Client/Mech/Ui/MechMenu.xaml.cs
  Content.Client/_Starlight/Overlay/Night/NightVisionSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/Equipment/Components/MechEquipmentComponent.cs
  Content.Shared/Mech/Equipment/Components/MechNightVisionComponent.cs
  Content.Shared/Mech/Equipment/Components/MechSoundboardComponent.cs
  Content.Shared/Mech/Equipment/EntitySystems/MechNightVisionSystem.cs
  Content.Shared/Mech/Equipment/EntitySystems/MechSoundboardSystem.cs
  Content.Shared/Mech/SharedMech.cs
  Content.Shared/_Starlight/Overlay/Night/NightVisionComponent.cs
  Resources/Prototypes/Actions/mech.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_night_vision_off.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_night_vision_on.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/meson.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, S: Needs Review, size/M

#331 Adds an old station - Saltern
  Resources/Maps/_Starlight/Stations/Events/Christmas/Saltern.yml
  Resources/Maps/_Starlight/Stations/Saltern.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/saltern.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/saltern.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#335 Salvage Ticket Machine
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Locale/en-US/_Starlight/store/vendors.ftl
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Misc/salvage_ticket.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_StarLight/Store/categories.yml
  Resources/Textures/Markers/cross.rsi/mechicon.png
  Resources/Textures/Markers/cross.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Economy/salvage_ticket.rsi/icon.png
  Resources/Textures/_Starlight/Objects/Economy/salvage_ticket.rsi/inhand-left.png
  Resources/Textures/_Starlight/Objects/Economy/salvage_ticket.rsi/inhand-right.png
  Resources/Textures/_Starlight/Objects/Economy/salvage_ticket.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/salvage.rsi/broken.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/salvage.rsi/deny-unshaded.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/salvage.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/salvage.rsi/normal-unshaded.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/salvage.rsi/off.png
  Resources/Textures/_Starlight/Structures/Machines/VendingMachines/salvage.rsi/panel.png
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#336 Adds an official ERT Shuttle for admemes only
  Resources/Maps/_Starlight/Shuttles/ERTShuttle.yml
  Resources/Prototypes/_StarLight/GameRules/events.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#339 Buffs the Syndicate Elite Hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#341 Add Mozan plush to vending machine
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/plushies.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Starlight/Objects/Fun/toys.rsi/mozan_plush.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review, size/S

#311 Adds a new station - Manor Station
  Resources/Maps/Shuttles/emergency_manor.yml
  Resources/Maps/_Starlight/Stations/Events/Christmas/Manor.yml
  Resources/Maps/_Starlight/Stations/Manor.yml
  Resources/Prototypes/_StarLight/Maps/Events/Christmas/manor.yml
  Resources/Prototypes/_StarLight/Maps/Pools/default.yml
  Resources/Prototypes/_StarLight/Maps/Pools/events.yml
  Resources/Prototypes/_StarLight/Maps/manor.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#344 Map Edits - Manor Station
  Resources/Maps/_Starlight/Stations/Manor.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review

#346 Station Edits - Manor Station
  Resources/Maps/_Starlight/Stations/Manor.yml
Labels: Changes: Map, Changes: No C#

#349 Adds Surgeon role to every map (excluding reach)
  Resources/Maps/_Starlight/Stations/Hotel.yml
  Resources/Maps/_Starlight/Stations/Lobster.yml
  Resources/Maps/_Starlight/Stations/Manor.yml
  Resources/Prototypes/_StarLight/Maps/amber.yml
  Resources/Prototypes/_StarLight/Maps/bagel.yml
  Resources/Prototypes/_StarLight/Maps/box.yml
  Resources/Prototypes/_StarLight/Maps/cog.yml
  Resources/Prototypes/_StarLight/Maps/core.yml
  Resources/Prototypes/_StarLight/Maps/crescent.yml
  Resources/Prototypes/_StarLight/Maps/fland.yml
  Resources/Prototypes/_StarLight/Maps/hotel.yml
  Resources/Prototypes/_StarLight/Maps/lobster.yml
  Resources/Prototypes/_StarLight/Maps/manor.yml
  Resources/Prototypes/_StarLight/Maps/marathon.yml
  Resources/Prototypes/_StarLight/Maps/meta.yml
  Resources/Prototypes/_StarLight/Maps/oasis.yml
  Resources/Prototypes/_StarLight/Maps/omega.yml
  Resources/Prototypes/_StarLight/Maps/packed.yml
  Resources/Prototypes/_StarLight/Maps/retro.yml
  Resources/Prototypes/_StarLight/Maps/saltern.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, S: Needs Review, size/XL
